<%- include('../partial/head.ejs') %>
    <style id='lacomete-edge-woo-inline-css' type='text/css'>
        a:visited {
            color: green;
        }

        @media only screen and (max-width: 1024px) {}

        .postid-3629 .edgtf-top-bar {
            background-image: none;
        }

        .postid-3629 .edgtf-content .edgtf-content-inner>.edgtf-container>.edgtf-container-inner,
        .postid-3629 .edgtf-content .edgtf-content-inner>.edgtf-full-width>.edgtf-full-width-inner {
            padding: 80px 0 122px 0;
        }

        /* .postid-3629 .edgtf-content .edgtf-content-inner>.edgtf-container>.edgtf-container-inner,
        .postid-3629 .edgtf-content .edgtf-content-inner>.edgtf-full-width>.edgtf-full-width-inner {
            padding: 130px 0 122px 0;
        } */

        /* @media only screen and (min-width: 769px) {
            .edgtf-woo-single-page.edgtf-woo-single-thumb-on-left-side .edgtf-single-product-content .images.woocommerce-product-gallery--with-images .woocommerce-product-gallery__image:first-child {
                height: 850px !important;
            }
        } */

        @media only screen and (min-width: 769px) {
            .edgtf-woo-single-page .edgtf-single-product-content .images {
                width: 56% !important;
            }
        }

        .edgtf-woo-single-page .edgtf-single-product-content .images figure a img.edgtf-fake-featured-image {
            height: 100% !important;
        }

        /* The Modal (background) */
        .modal {
            display: none;
            /* Hidden by default */
            /* position: fixed; */
            position: fixed;
            /* Stay in place */
            z-index: 1;
            /* Sit on top */
            padding-top: 100px;
            /* Location of the box */
            left: 0;
            top: 0;
            width: 100%;
            /* Full width */
            height: 100%;
            /* Full height */
            overflow: auto;
            /* Enable scroll if needed */
            background-color: rgb(0, 0, 0);
            /* Fallback color */
            background-color: rgba(0, 0, 0, 0.4);
            /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content {
            position: relative;
            background-color: #fefefe;
            margin: auto;
            padding: 0;
            border: 1px solid #888;
            /* width: 80%; */
            width: 60%;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            -webkit-animation-name: animatetop;
            -webkit-animation-duration: 0.4s;
            animation-name: animatetop;
            animation-duration: 0.4s
        }

        /* Add Animation */
        @-webkit-keyframes animatetop {
            from {
                top: -300px;
                opacity: 0
            }

            to {
                top: 0;
                opacity: 1
            }
        }

        @keyframes animatetop {
            from {
                top: -300px;
                opacity: 0
            }

            to {
                top: 0;
                opacity: 1
            }
        }

        /* The Close Button */
        .close {
            color: black;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

        .modal-header {
            padding: 13px;
            color: black;
            text-align: center;
            border-bottom: 1px solid #000;
        }

        .modal-body {
            padding: 15px;
        }

        .modal-footer {
            padding: 2px 16px;
            background-color: #5cb85c;
            color: white;
        }

        .modal-title-header {
            color: #333;
            font-weight: 700;
            font-style: normal;
            font-size: 17px;
            font-family: inherit !important;
        }

        .modal-title-sub-header {
            color: #333;
            font-weight: 400;
            font-style: normal;
            font-size: 12px;
            font-family: inherit !important;
        }

        .ks-table {
            border-style: solid;
            border-width: 1px;
            border-color: #e8e9eb;
        }

        .ks-table-header-cell {
            font-weight: 700 !important;
            font-style: normal;
            text-transform: uppercase;
            font-size: 12px;
        }

        .ks-table-cell {
            border: 1px solid #deddda;
        }


        .acontactcss {
            color: #212529 !important;
        }

        @media only screen and (max-width: 680px) {
            .edgtf-position-right-inner {
                font-size: 11px;
            }
        }

        /* .edgtf-title-holder,
        .edgtf-page-header,
        .single_add_to_cart_button {
            z-index: 0 !important;
        } */
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Start Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-P2KXJ0J054"></script>
    <script> window.dataLayer = window.dataLayer || []; function
            gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config',
                'G-P2KXJ0J054'); 
    </script>
    <!-- End Google tag (gtag.js) -->

    <%- include('../partial/pagetracker.ejs') %>
        <%- include('../partial/header.ejs') %>
            <%- include('../partial/pageheader.ejs') %>
                <div class="edgtf-content">
                    <div class="edgtf-content-inner">
                        <div class="edgtf-full-width">
                            <div class="edgtf-full-width-inner">
                                <div class="edgtf-grid-row">
                                    <div class="edgtf-page-content-holder edgtf-grid-col-12">
                                        <section class="wpb-content-wrapper">
                                            <div class="row">
                                                <div class="col-md-6" style="padding-left: 40px;padding-right: 40px;">
                                                    <div id="divMap">
                                                        <div class="gMap clearfix" id="GoogleMap">
                                                            <div id="map_canvas">
                                                                <script
                                                                    src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&key=AIzaSyCHWhwpVwgDuwit10HARKJ2eS1IjrSmHeU&callback=initMap"
                                                                    type="text/javascript"></script>
                                                                <div
                                                                    style='overflow: hidden; height: auto; width: auto;'>
                                                                    <div id='gmap_canvas'
                                                                        style='height: 350px; width: auto; border: 2px solid'>
                                                                    </div>
                                                                    <div><small><a
                                                                                href="embedgooglemaps.com/"></a></small>
                                                                    </div>
                                                                    <div><small><a href=""></a></small>
                                                                    </div>
                                                                    <style>
                                                                        #gmap_canvas img {
                                                                            max-width: none !important;
                                                                            background: none !important;
                                                                        }
                                                                    </style>
                                                                </div>
                                                                <div id="scrl" style="width: 200px;">
                                                                    <script
                                                                        type='text/javascript'>function init_map() {
                                                                                var myOptions = {
                                                                                    maxZoom: 21,
                                                                                    minZoom: 15,
                                                                                    zoom: 15, center: new google.maps.LatLng(19.1567222, 72.8376111), mapTypeId: google.maps.MapTypeId.ROADMAP
                                                                                }; map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions); marker = new google.maps.Marker({
                                                                                    map: map, position: new google.maps.LatLng(19.1567222, 72.8376111)
                                                                                }); infowindow = new google.maps.InfoWindow({ content: '<strong>ASAGA</strong><br>213/1699 Motilal Nagar No. 1 , Road no. 4 Near Usha Hall ,Opp Ganesh Maidan, Goregaon West Mumbai, Maharashtra - 400104' }); google.maps.event.addListener(marker, 'click', function () { infowindow.open(map, marker); }); infowindow.open(map, marker);
                                                                            } google.maps.event.addDomListener(window, 'load', init_map);</script>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6"
                                                    style="padding-left: 40px;padding-right: 40px;margin-top: 60px;">
                                                    <div class="edgtf-row-grid-section-wrapper ">
                                                        <div class="edgtf-row-grid-section">
                                                            <div class="vc_row wpb_row vc_row-fluid">
                                                                <div
                                                                    class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-6 vc_col-md-12 vc_col-xs-12">
                                                                    <div class="vc_column-inner">
                                                                        <div class="wpb_wrapper">
                                                                            <!-- <div
                                                                            class="wpb_text_column wpb_content_element ">
                                                                            <div class="wpb_wrapper">
                                                                                <h6>Asaga</h6>
                                                                            </div>
                                                                        </div> -->
                                                                            <div
                                                                                class="wpb_text_column wpb_content_element ">
                                                                                <div class="wpb_wrapper">
                                                                                    <div class="">
                                                                                        <span
                                                                                            style="padding-right: 12px;"><i
                                                                                                class="fa fa-map-marker"></i></span>
                                                                                        <span class="__cf_email__"
                                                                                            data-cfemail="">
                                                                                            <%= ContactUsData[0].Address
                                                                                                %>
                                                                                        </span>
                                                                                    </div><br />
                                                                                    <div class="">
                                                                                        <span
                                                                                            style="padding-right: 12px;"><i
                                                                                                class="fa fa-phone"></i></span>
                                                                                        <a class="acontactcss"
                                                                                            href="tel:9978982121"
                                                                                            target="_blank">
                                                                                            <%= ContactUsData[0].MobileNo1
                                                                                                %>
                                                                                        </a>
                                                                                    </div><br />
                                                                                    <% if(ContactUsData[0].MobileNo2) {
                                                                                        %>
                                                                                        <div class="">
                                                                                            <span
                                                                                                style="padding-right: 12px;"><i
                                                                                                    class="fa fa-phone"></i></span>
                                                                                            <a class="acontactcss"
                                                                                                href="tel:9978982121"
                                                                                                target="_blank">
                                                                                                <%= ContactUsData[0].MobileNo2
                                                                                                    %>
                                                                                            </a>
                                                                                        </div><br />
                                                                                        <%}%>
                                                                                            <div class="">
                                                                                                <span
                                                                                                    style="padding-right: 12px;"><i
                                                                                                        class="fa fa-envelope"></i></span>
                                                                                                <a class="acontactcss"
                                                                                                    href="mailto:"
                                                                                                    target="_blank">
                                                                                                    <%= ContactUsData[0].EmailID1
                                                                                                        %>
                                                                                                </a>
                                                                                            </div><br />

                                                                                            <% if(ContactUsData[0].EmailID2)
                                                                                                { %>
                                                                                                <div class="">
                                                                                                    <span
                                                                                                        style="padding-right: 12px;"><i
                                                                                                            class="fa fa-envelope"></i></span>
                                                                                                    <a class="acontactcss"
                                                                                                        href="mailto:"
                                                                                                        target="_blank">
                                                                                                        <%= ContactUsData[0].EmailID2
                                                                                                            %>
                                                                                                    </a>
                                                                                                </div><br />
                                                                                                <%}%>

                                                                                </div>
                                                                            </div>
                                                                            <div class="vc_empty_space"
                                                                                style="height: 32px">
                                                                                <span
                                                                                    class="vc_empty_space_inner"></span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div>
                                                </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                </div>
                <%- include('../partial/footer.ejs') %>