<%- include('../partial/head.ejs') %>
    <style id='lacomete-edge-woo-inline-css' type='text/css'>
        @media only screen and (max-width: 1024px) {}

        .edgtf-pl-holder .edgtf-pli-inner .edgtf-pli-image img {
            object-fit: cover !important;
            object-position: 56% 25%;
        }

        .postid-3629 .edgtf-top-bar {
            background-image: none;
        }

        .postid-3629 .edgtf-content .edgtf-content-inner>.edgtf-container>.edgtf-container-inner,
        .postid-3629 .edgtf-content .edgtf-content-inner>.edgtf-full-width>.edgtf-full-width-inner {
            padding: 130px 0 122px 0;
        }

        .postid-3629 .edgtf-content .edgtf-content-inner>.edgtf-container>.edgtf-container-inner,
        .postid-3629 .edgtf-content .edgtf-content-inner>.edgtf-full-width>.edgtf-full-width-inner {
            padding: 130px 0 122px 0;
        }

        /* @media only screen and (min-width: 769px) {
            .edgtf-woo-single-page.edgtf-woo-single-thumb-on-left-side .edgtf-single-product-content .images.woocommerce-product-gallery--with-images .woocommerce-product-gallery__image:first-child {
                height: 850px !important;
            }
        } */

        @media only screen and (min-width: 769px) {
            .edgtf-woo-single-page .edgtf-single-product-content .images {
                width: 56% !important;
            }
        }

        .edgtf-woo-single-page .edgtf-single-product-content .images figure a img.edgtf-fake-featured-image {
            height: 100% !important;
        }

        @media only screen and (max-width: 680px) {
            .edgtf-position-right-inner {
                font-size: 11px;
            }
        }
    </style>
    <!-- Start Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-P2KXJ0J054"></script>
    <script> window.dataLayer = window.dataLayer || []; function
            gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config',
                'G-P2KXJ0J054'); 
    </script>
    <!-- End Google tag (gtag.js) -->

    <%- include('../partial/pagetracker.ejs') %>

        <%- include('../partial/header.ejs') %>
            <%- include('../partial/pageheader.ejs') %>
                <div class="edgtf-content">
                    <div class="edgtf-content-inner">
                        <!-- <div class="edgtf-title-holder edgtf-centered-type edgtf-title-va-header-bottom edgtf-has-bg-image"
                            style="height: 240px;background-image:url(../fRntTemplte/wp-content/uploads/2019/04/title-area-background-img.jpg);"
                            data-height="240">
                            <div class="edgtf-title-image">
                                <img itemprop="image"
                                    src="../fRntTemplte/wp-content/uploads/2019/04/title-area-background-img.jpg"
                                    alt="p">
                            </div>
                            <div class="edgtf-title-wrapper" style="height: 240px">
                                <div class="edgtf-title-inner">
                                    <div class="edgtf-grid">
                                        <h3 class="edgtf-page-title entry-title">Search results for:
                                            <label id="lblHeader">
                                                <%= SearchData %>
                                            </label>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div> -->

                        <!-- <div class="edgtf-title-holder edgtf-centered-type edgtf-title-va-header-bottom edgtf-has-bg-image"
                            style="height: 240px;background-image:url(../fRntTemplte/wp-content/uploads/2019/04/title-area-background-img.jpg);"
                            data-height="240">
                            <div class="edgtf-title-wrapper" style="height: 240px">
                                <div class="edgtf-title-inner">
                                    <div class="edgtf-grid">
                                        <h3 class="edgtf-page-title entry-title">Search results for:
                                            <label id="lblHeader">
                                                <%= SearchData %>
                                            </label>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div> -->

                        <div style="text-align:center;padding-top: 30px;">
                            <label>
                                <span style="text-transform: uppercase;
                                letter-spacing: .05em;
                                font-size: 20px;color: black;">Search results for:</span><span style="text-transform: uppercase;
                                letter-spacing: .05em;
                                font-size: 20px;color: black;">
                                    <%= SearchData %>
                                </span>
                            </label>
                        </div>

                        <div class="edgtf-container" style="padding-bottom: 0px;">
                            <div class="edgtf-container-inner clearfix" style="padding-top: 50px;">
                                <div class="woocommerce-notices-wrapper"></div>
                                <div id="product-3629"
                                    class="product type-product post-3629 status-publish first instock product_cat-modern product_tag-black product_tag-silver product_tag-woman has-post-thumbnail downloadable shipping-taxable purchasable product-type-simple">
                                    <section class="related products">
                                        <div class="edgtf-row-grid-section-wrapper ">
                                            <div class="edgtf-row-grid-section">
                                                <div class="vc_row wpb_row vc_row-fluid">
                                                    <div class="wpb_column vc_column_container vc_col-sm-12">
                                                        <div class="vc_column-inner">
                                                            <div class="wpb_wrapper">
                                                                <div
                                                                    class="edgtf-pl-holder edgtf-grid-list edgtf-disable-bottom-space edgtf-standard-layout edgtf-four-columns edgtf-normal-space edgtf-info-on-image-simple-predefined ">
                                                                    <div class="edgtf-pl-outer edgtf-outer-space item-grid"
                                                                        id="item-grid">
                                                                        <% if(ItemData.length){ %>
                                                                            <% for(var i=0; i < ItemData.length; i++)
                                                                                {%>
                                                                                <div
                                                                                    class="edgtf-pli edgtf-item-space col-md-4">
                                                                                    <div class="edgtf-pli-inner">
                                                                                        <!-- Item Main Image -->
                                                                                        <div class="edgtf-pli-image">
                                                                                            <img style="height: 510px;width: 100%;"
                                                                                                src="<%= process.env.ItemImagePATH + ItemData[i].ItemImage %>"
                                                                                                class="attachment-woocommerce_single size-woocommerce_single wp-post-image"
                                                                                                alt="f"
                                                                                                srcset="<%= process.env.ItemImagePATH + ItemData[i].ItemImage %> 600w, 
                                                                                <%= process.env.ItemImagePATH + ItemData[i].ItemImage %> 226w, 
                                                                                <%= process.env.ItemImagePATH + ItemData[i].ItemImage %> 768w, 
                                                                                <%= process.env.ItemImagePATH + ItemData[i].ItemImage %> 773w, 
                                                                                <%= process.env.ItemImagePATH + ItemData[i].ItemImage %> 800w"
                                                                                                sizes="(max-width: 600px) 100vw, 600px" />
                                                                                        </div>

                                                                                        <!-- Item change show -->
                                                                                        <div class="edgtf-pli-text"
                                                                                            style="padding: 0;">
                                                                                            <div class="edgtf-pli-text-outer"
                                                                                                style="padding: 0;">
                                                                                                <% var
                                                                                                    detailImage=ItemData[i].ItemDetailImage
                                                                                                    ?
                                                                                                    ItemData[i].ItemDetailImage
                                                                                                    :
                                                                                                    ItemData[i].ItemImage
                                                                                                    %>
                                                                                                    <img style="height: 510px;width: 100%;"
                                                                                                        src="<%= process.env.ItemImagePATH + detailImage %>"
                                                                                                        class="attachment-woocommerce_single size-woocommerce_single wp-post-image"
                                                                                                        alt="f"
                                                                                                        srcset="<%= process.env.ItemImagePATH + detailImage %> 600w, 
                                                                                                                    <%= process.env.ItemImagePATH + detailImage %> 226w, 
                                                                                                                    <%= process.env.ItemImagePATH + detailImage %> 768w, 
                                                                                                                    <%= process.env.ItemImagePATH + detailImage %> 773w, 
                                                                                                                    <%= process.env.ItemImagePATH + detailImage %> 800w"
                                                                                                        sizes="(max-width: 600px) 100vw, 600px" />
                                                                                            </div>
                                                                                        </div>
                                                                                        <!-- Item Name -->
                                                                                        <div
                                                                                            class="edgtf-product-overview">
                                                                                            <div class="edgtf-po-text">
                                                                                                <div
                                                                                                    class="edgtf-po-text-inner">
                                                                                                    <p
                                                                                                        class="edgtf-poi">
                                                                                                        <span
                                                                                                            class="edgtf-poi-title-holder">
                                                                                                            <a class="edgtf-poi-title itemText"
                                                                                                                itemprop="url"
                                                                                                                href="/ItemDetail/<%= ItemData[i].ItemID %>">
                                                                                                                <%= ItemData[i].ItemName
                                                                                                                    %>
                                                                                                            </a>
                                                                                                        </span>
                                                                                                    </p>
                                                                                                    <p>
                                                                                                        <span
                                                                                                            class="edgtf-poi-price"><span
                                                                                                                class="woocommerce-Price-amount amount"><bdi><span
                                                                                                                        class="woocommerce-Price-currencySymbol">Rs.</span>
                                                                                                                    <%= ItemData[i].Amount
                                                                                                                        %>
                                                                                                                </bdi></span>
                                                                                                        </span>
                                                                                                    </p>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>

                                                                                        <a class="edgtf-pli-link"
                                                                                            itemprop="url"
                                                                                            href="/ItemDetail/<%= ItemData[i].ItemID %>"></a>
                                                                                    </div>
                                                                                </div>
                                                                                <%}%>
                                                                                    <% } else{ %>
                                                                                        <div class="row">
                                                                                            <div class="col-md-12">
                                                                                                <!-- <h6>
                                                                                                    If you are not happy
                                                                                                    with the results
                                                                                                    please do
                                                                                                    another search..
                                                                                                </h6> -->
                                                                                                <h6 class="edgtf-blog-no-posts"
                                                                                                    style="padding-top: 15px;text-align: center;">
                                                                                                    Your search for "<%=
                                                                                                        SearchData %>"
                                                                                                        did not yield
                                                                                                        any results.
                                                                                                </h6>
                                                                                            </div>
                                                                                        </div>
                                                                                        <!-- <div
                                                                                        class="edgtf-page-content-holder edgtf-grid-col-12">
                                                                                        <div
                                                                                            class="edgtf-search-page-holder">
                                                                                                <div
                                                                                                    class="edgtf-search-label">
                                                                                                    If you are not happy
                                                                                                    with the results
                                                                                                    please do
                                                                                                    another search
                                                                                                </div>
                                                                                            <p
                                                                                                class="edgtf-blog-no-posts">
                                                                                                No posts were found.</p>
                                                                                        </div>
                                                                                    </div> -->

                                                                                        <% } %>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <%- include('../partial/footer.ejs') %>
                  