<%- include('../partial/head.ejs') %>
    <style id='lacomete-edge-woo-inline-css' type='text/css'>
        @media only screen and (max-width: 1024px) {}

        .postid-3629 .edgtf-top-bar {
            background-image: none;
        }


        .postid-3629 .edgtf-content .edgtf-content-inner>.edgtf-container>.edgtf-container-inner {
            padding-top: 30px !important;
            padding-bottom: 0px !important;
        }

        .postid-3629 .edgtf-content .edgtf-content-inner>.edgtf-container>.edgtf-container-inner,
        .postid-3629 .edgtf-content .edgtf-content-inner>.edgtf-full-width>.edgtf-full-width-inner {
            padding: 130px 0 122px 0;
        }

        .postid-3629 .edgtf-content .edgtf-content-inner>.edgtf-container>.edgtf-container-inner,
        .postid-3629 .edgtf-content .edgtf-content-inner>.edgtf-full-width>.edgtf-full-width-inner {
            padding: 130px 0 122px 0;
        }

        /* @media only screen and (min-width: 769px) {
            .edgtf-woo-single-page.edgtf-woo-single-thumb-on-left-side .edgtf-single-product-content .images.woocommerce-product-gallery--with-images .woocommerce-product-gallery__image:first-child {
                height: 850px !important;
            }
        } */

        @media only screen and (min-width: 769px) {
            .edgtf-woo-single-page .edgtf-single-product-content .images {
                width: 56% !important;
            }
        }

        .edgtf-woo-single-page .edgtf-single-product-content .images figure a img.edgtf-fake-featured-image {
            height: 100% !important;
        }

        /* The Modal (background) */
        .modal {
            display: none;
            /* Hidden by default */
            /* position: fixed; */
            position: fixed;
            /* Stay in place */
            z-index: 1;
            /* Sit on top */
            padding-top: 100px;
            /* Location of the box */
            left: 0;
            top: 0;
            width: 100%;
            /* Full width */
            height: 100%;
            /* Full height */
            overflow: auto;
            /* Enable scroll if needed */
            background-color: rgb(0, 0, 0);
            /* Fallback color */
            background-color: rgba(0, 0, 0, 0.4);
            /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content {
            position: relative;
            background-color: #fefefe;
            margin: auto;
            padding: 0;
            border: 1px solid #888;
            /* width: 80%; */
            width: 60%;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            -webkit-animation-name: animatetop;
            -webkit-animation-duration: 0.4s;
            animation-name: animatetop;
            animation-duration: 0.4s
        }

        /* Add Animation */
        @-webkit-keyframes animatetop {
            from {
                top: -300px;
                opacity: 0
            }

            to {
                top: 0;
                opacity: 1
            }
        }

        @keyframes animatetop {
            from {
                top: -300px;
                opacity: 0
            }

            to {
                top: 0;
                opacity: 1
            }
        }

        /* The Close Button */
        .close {
            color: black;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

        .modal-header {
            padding: 13px;
            color: black;
            text-align: center;
            border-bottom: 1px solid #000;
        }

        .modal-body {
            padding: 15px;
        }

        .modal-footer {
            padding: 2px 16px;
            background-color: #5cb85c;
            color: white;
        }

        .modal-title-header {
            color: #333;
            font-weight: 700;
            font-style: normal;
            font-size: 17px;
            font-family: inherit !important;
        }

        .modal-title-sub-header {
            color: #333;
            font-weight: 400;
            font-style: normal;
            font-size: 12px;
            font-family: inherit !important;
        }

        .ks-table {
            border-style: solid;
            border-width: 1px;
            border-color: #e8e9eb;
        }

        .ks-table-header-cell {
            font-weight: 700 !important;
            font-style: normal;
            text-transform: uppercase;
            font-size: 12px;
        }

        .ks-table-cell {
            border: 1px solid #deddda;
        }

        /* .edgtf-title-holder,
        .edgtf-page-header,
        .single_add_to_cart_button {
            z-index: 0 !important;
        } */

        table tbody tr,
        table thead tr {
            border: none !important;
        }

        table th,
        table td {
            text-align: left !important;
        }

        @media only screen and (max-width: 680px) {
            .edgtf-position-right-inner {
                font-size: 11px;
            }

            .setmrg {
                margin-bottom: -500px !important;
            }
        }
    </style>
    <!-- Start Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-P2KXJ0J054"></script>
    <script> window.dataLayer = window.dataLayer || []; function
            gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config',
                'G-P2KXJ0J054'); 
    </script>
    <!-- End Google tag (gtag.js) -->

    <%- include('../partial/pagetracker.ejs') %>

        <%- include('../partial/header.ejs') %>
            <%- include('../partial/pageheader.ejs') %>
                <link rel='stylesheet' id='lacomete-edge-woo-css'
                    href='https://lacomete.qodeinteractive.com/wp-content/themes/lacomete/assets/css/woocommerce.min.css?ver=6.0.3'
                    type='text/css' media='all' />
                <link rel='stylesheet' id='ppress-select2-css'
                    href='https://lacomete.qodeinteractive.com/wp-content/plugins/wp-user-avatar/assets/select2/select2.min.css?ver=6.0.3'
                    type='text/css' media='all' />
                <script type='text/javascript'
                    src='https://lacomete.qodeinteractive.com/wp-content/plugins/wp-user-avatar/assets/select2/select2.min.js?ver=4.3.0'
                    id='ppress-select2-js'></script>
                <div class="edgtf-content" style="margin-bottom: 434.859px;">
                    <div class="edgtf-content-inner">
                        <div class="edgtf-container edgtf-default-page-template">
                            <div class="edgtf-container-inner clearfix">
                                <div class="edgtf-grid-row ">
                                    <div class="edgtf-page-content-holder edgtf-grid-col-12 setmrg">
                                        <div class="woocommerce">
                                            <div class="woocommerce-order">
                                                <p
                                                    class="woocommerce-notice woocommerce-notice--success woocommerce-thankyou-order-received">
                                                    Thank you. Your order has been received.</p>
                                                <ul
                                                    class="woocommerce-order-overview woocommerce-thankyou-order-details order_details">
                                                    <li class="woocommerce-order-overview__order order">
                                                        Order number: <strong>
                                                            <%= OrderData ? OrderData[0].OrderNo : '' %>
                                                        </strong>
                                                    </li>
                                                    <li class="woocommerce-order-overview__date date">
                                                        Date/Time: <strong>
                                                            <%= OrderData ? OrderData[0].CreatedDate : '' %>
                                                        </strong>
                                                    </li>
                                                    <li class="woocommerce-order-overview__total total">
                                                        Total: <strong><span
                                                                class="woocommerce-Price-amount amount"><bdi><span
                                                                        class="woocommerce-Price-currencySymbol">Rs.</span>
                                                                    <%= OrderData ?
                                                                        Number(OrderData[0].FinalAmount).toFixed(2) : ''
                                                                        %>
                                                                </bdi></span></strong>
                                                    </li>
                                                    <li class="woocommerce-order-overview__payment-method method">
                                                        Payment method: <strong>
                                                            <%= OrderData ? OrderData[0].PaymentMode: '' %>
                                                        </strong>
                                                    </li>
                                                </ul>
                                                <p class="return-to-shop ">
                                                    <a class="button wc-backward" href="/Splash">
                                                        Return to shop
                                                    </a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <%- include('../partial/footer.ejs') %>