<%- include('../partial/head.ejs') %>
    <style id='lacomete-edge-woo-inline-css' type='text/css'>
        @media only screen and (max-width: 1024px) {}

        .postid-3629 .edgtf-top-bar {
            background-image: none;
        }

        .postid-3629 .edgtf-content .edgtf-content-inner>.edgtf-container>.edgtf-container-inner,
        .postid-3629 .edgtf-content .edgtf-content-inner>.edgtf-full-width>.edgtf-full-width-inner {
            padding: 130px 0 122px 0;
        }

        .postid-3629 .edgtf-content .edgtf-content-inner>.edgtf-container>.edgtf-container-inner,
        .postid-3629 .edgtf-content .edgtf-content-inner>.edgtf-full-width>.edgtf-full-width-inner {
            padding: 130px 0 122px 0;
        }

        /* @media only screen and (min-width: 769px) {
            .edgtf-woo-single-page.edgtf-woo-single-thumb-on-left-side .edgtf-single-product-content .images.woocommerce-product-gallery--with-images .woocommerce-product-gallery__image:first-child {
                height: 850px !important;
            }
        } */

        @media only screen and (min-width: 769px) {
            .edgtf-woo-single-page .edgtf-single-product-content .images {
                width: 56% !important;
            }
        }

        .edgtf-woo-single-page .edgtf-single-product-content .images figure a img.edgtf-fake-featured-image {
            height: 100% !important;
        }

        /* The Modal (background) */
        .modal {
            display: none;
            /* Hidden by default */
            /* position: fixed; */
            position: fixed;
            /* Stay in place */
            z-index: 1;
            /* Sit on top */
            padding-top: 100px;
            /* Location of the box */
            left: 0;
            top: 0;
            width: 100%;
            /* Full width */
            height: 100%;
            /* Full height */
            overflow: auto;
            /* Enable scroll if needed */
            background-color: rgb(0, 0, 0);
            /* Fallback color */
            background-color: rgba(0, 0, 0, 0.4);
            /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content {
            position: relative;
            background-color: #fefefe;
            margin: auto;
            padding: 0;
            border: 1px solid #888;
            /* width: 80%; */
            width: 60%;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            -webkit-animation-name: animatetop;
            -webkit-animation-duration: 0.4s;
            animation-name: animatetop;
            animation-duration: 0.4s
        }

        /* Add Animation */
        @-webkit-keyframes animatetop {
            from {
                top: -300px;
                opacity: 0
            }

            to {
                top: 0;
                opacity: 1
            }
        }

        @keyframes animatetop {
            from {
                top: -300px;
                opacity: 0
            }

            to {
                top: 0;
                opacity: 1
            }
        }

        /* The Close Button */
        .close {
            color: black;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

        .modal-header {
            padding: 13px;
            color: black;
            text-align: center;
            border-bottom: 1px solid #000;
        }

        .modal-body {
            padding: 15px;
        }

        .modal-footer {
            padding: 2px 16px;
            background-color: #5cb85c;
            color: white;
        }

        .modal-title-header {
            color: #333;
            font-weight: 700;
            font-style: normal;
            font-size: 17px;
            font-family: inherit !important;
        }

        .modal-title-sub-header {
            color: #333;
            font-weight: 400;
            font-style: normal;
            font-size: 12px;
            font-family: inherit !important;
        }

        .ks-table {
            border-style: solid;
            border-width: 1px;
            border-color: #e8e9eb;
        }

        .ks-table-header-cell {
            font-weight: 700 !important;
            font-style: normal;
            text-transform: uppercase;
            font-size: 12px;
        }

        .ks-table-cell {
            border: 1px solid #deddda;
        }

        @media only screen and (max-width: 680px) {
            .edgtf-position-right-inner {
                font-size: 11px;
            }
        }

        /* .edgtf-title-holder,
        .edgtf-page-header,
        .single_add_to_cart_button {
            z-index: 0 !important;
        } */
    </style>
    <script src="../../javascripts/sweetalert/sweetalert2@11.js"></script>
    <!-- Start Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-P2KXJ0J054"></script>
    <script> window.dataLayer = window.dataLayer || []; function
            gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config',
                'G-P2KXJ0J054'); 
    </script>
    <!-- End Google tag (gtag.js) -->

    <%- include('../partial/pagetracker.ejs') %>

        <%- include('../partial/header.ejs') %>
            <%- include('../partial/pageheader.ejs') %>
                <div class="edgtf-content">
                    <div class="edgtf-content-inner">
                        <div class="edgtf-container" style="padding-bottom: 50px; padding-top: 50px;">
                            <div class="edgtf-row-grid-section-wrapper ">
                                <div class="edgtf-row-grid-section">
                                    <div class="vc_row wpb_row vc_row-fluid vc_custom_1556093917900">
                                        <div class="wpb_column vc_column_container vc_col-sm-12">
                                            <div class="vc_column-inner">
                                                <div class="wpb_wrapper">
                                                    <% for(var i=0; i < RefundPolicyData.length; i++) {%>
                                                        <div class="wpb_text_column wpb_content_element">
                                                            <div class="wpb_wrapper">
                                                                <h5>
                                                                    <strong>
                                                                        <%= RefundPolicyData[i].Ttile %>
                                                                    </strong>
                                                                </h5>
                                                            </div>
                                                        </div>
                                                        <div class="vc_empty_space" style="height: 6px"><span
                                                                class="vc_empty_space_inner"></span></div>
                                                        <div class="wpb_text_column wpb_content_element ">
                                                            <div class="wpb_wrapper">
                                                                <p>
                                                                    <%= RefundPolicyData[i].Description %>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <%}%>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <%- include('../partial/footer.ejs') %>