<%- include('../partial/head.ejs') %>
    <style id='lacomete-edge-woo-inline-css' type='text/css'>
        /* visited link */
        .edgtf-position-right-inner {
            font-family: 'Source Serif Pro",serif';
            /* font-weight: 400; */
        }

        .spaceCard {
            padding-top: 40px;
            padding-left: 40px;
            padding-right: 40px;
        }

        a:visited {
            color: green;
        }

        .form-container {
            display: flex;
            justify-content: center;
            align-items: center;
            /* height: 100vh; */
        }

        /* form {
            max-width: 400px;
            padding: 33px;
            display: flex;
            justify-content: center;
        } */


        @media only screen and (max-width: 1024px) {}

        @media only screen and (max-width: 680px) {
            .marginRow {
                margin-top: 25px !important;
            }

            .edgtf-position-right-inner {
                font-size: 10px;

            }
        }

        .postid-3629 .edgtf-top-bar {
            background-image: none;
        }

        .postid-3629 .edgtf-content .edgtf-content-inner>.edgtf-container>.edgtf-container-inner,
        .postid-3629 .edgtf-content .edgtf-content-inner>.edgtf-full-width>.edgtf-full-width-inner {
            padding: 130px 0 122px 0;
        }

        .postid-3629 .edgtf-content .edgtf-content-inner>.edgtf-container>.edgtf-container-inner,
        .postid-3629 .edgtf-content .edgtf-content-inner>.edgtf-full-width>.edgtf-full-width-inner {
            padding: 130px 0 122px 0;
        }

        /* @media only screen and (min-width: 769px) {
            .edgtf-woo-single-page.edgtf-woo-single-thumb-on-left-side .edgtf-single-product-content .images.woocommerce-product-gallery--with-images .woocommerce-product-gallery__image:first-child {
                height: 850px !important;
            }
        } */

        @media only screen and (min-width: 769px) {
            .edgtf-woo-single-page .edgtf-single-product-content .images {
                width: 56% !important;
            }
        }

        .edgtf-woo-single-page .edgtf-single-product-content .images figure a img.edgtf-fake-featured-image {
            height: 100% !important;
        }

        /* The Modal (background) */
        .modal {
            display: none;
            /* Hidden by default */
            /* position: fixed; */
            position: fixed;
            /* Stay in place */
            z-index: 1;
            /* Sit on top */
            padding-top: 100px;
            /* Location of the box */
            left: 0;
            top: 0;
            width: 100%;
            /* Full width */
            height: 100%;
            /* Full height */
            overflow: auto;
            /* Enable scroll if needed */
            background-color: rgb(0, 0, 0);
            /* Fallback color */
            background-color: rgba(0, 0, 0, 0.4);
            /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content {
            position: relative;
            background-color: #fefefe;
            margin: auto;
            padding: 0;
            border: 1px solid #888;
            /* width: 80%; */
            width: 60%;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            -webkit-animation-name: animatetop;
            -webkit-animation-duration: 0.4s;
            animation-name: animatetop;
            animation-duration: 0.4s
        }

        /* Add Animation */
        @-webkit-keyframes animatetop {
            from {
                top: -300px;
                opacity: 0
            }

            to {
                top: 0;
                opacity: 1
            }
        }

        @keyframes animatetop {
            from {
                top: -300px;
                opacity: 0
            }

            to {
                top: 0;
                opacity: 1
            }
        }

        /* The Close Button */
        .close {
            color: black;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

        .modal-header {
            padding: 13px;
            color: black;
            text-align: center;
            border-bottom: 1px solid #000;
        }

        .modal-body {
            padding: 15px;
        }

        .modal-footer {
            padding: 2px 16px;
            background-color: #5cb85c;
            color: white;
        }

        .modal-title-header {
            color: #333;
            font-weight: 700;
            font-style: normal;
            font-size: 17px;
            /* font-family: inherit !important; */
        }

        .modal-title-sub-header {
            color: #333;
            font-weight: 400;
            font-style: normal;
            font-size: 12px;
            /* font-family: inherit !important; */
        }

        .ks-table {
            border-style: solid;
            border-width: 1px;
            border-color: #e8e9eb;
        }

        .ks-table-header-cell {
            font-weight: 700 !important;
            font-style: normal;
            text-transform: uppercase;
            font-size: 12px;
        }

        .ks-table-cell {
            border: 1px solid #deddda;
        }

        /* .edgtf-title-holder,
        .edgtf-page-header,
        .single_add_to_cart_button {
            z-index: 0 !important;
        } */
    </style>
    <script src="../../javascripts/sweetalert/sweetalert2@11.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Start Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-P2KXJ0J054"></script>
    <script> window.dataLayer = window.dataLayer || []; function
            gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config',
                'G-P2KXJ0J054'); 
    </script>
    <!-- End Google tag (gtag.js) -->

    <%- include('../partial/pagetracker.ejs') %>

        <%- include('../partial/header.ejs') %>
            <%- include('../partial/pageheader.ejs') %>
                <div class="edgtf-content">
                    <div class="edgtf-content-inner">
                       
                        <div class="edgtf-container edgtf-default-page-template">
                            <div class="edgtf-container-inner clearfix" style="
                        padding-top: 50px; padding-bottom: 50px;">
                                <div class="edgtf-grid-row marginRow">
                                    <div class="edgtf-page-content-holder edgtf-grid-col-12">
                                        <div class="woocommerce">
                                            <!-- <div class="woocommerce-notices-wrapper"></div> -->
                                            <!-- <div class="card"> -->
                                            <form name="checkout" id="frmAddUser" method="post"
                                                class="checkout woocommerce-checkout" action="">
                                                <div class="col2-set" id="customer_details">
                                                    <div class=" woocommerce-billing-fields">
                                                        <div class="woocommerce-billing-fields__field-wrapper">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <p class="form-row-first validate-required"
                                                                                id="billing_first_name_field"
                                                                                data-priority="10">
                                                                                <label>Email ID:<span
                                                                                        style="color: red;">*</span>
                                                                                </label><span
                                                                                    class="woocommerce-input-wrapper"><input
                                                                                        type="email" class="input-text "
                                                                                        name="EmailID" id="EmailID"
                                                                                        placeholder="" value=""
                                                                                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                                                                                        autocomplete="given-name"></span>
                                                                            </p>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <p class="form-row-first validate-required "
                                                                                id="billing_first_name_field"
                                                                                data-priority="10">
                                                                                <label>Password:<span
                                                                                        style="color: red;">*</span>
                                                                                </label><span
                                                                                    class="woocommerce-input-wrapper"><input
                                                                                        type="password"
                                                                                        class="input-text "
                                                                                        name="Password" id="Password"
                                                                                        placeholder="" value=""
                                                                                        autocomplete="given-name"></span>
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-2 mb-2">
                                                                            <button type="submit" class="button alt"
                                                                                formaction="/UserLogin"
                                                                                onclick="login()"
                                                                                name="woocommerce_checkout_place_order"
                                                                                id="" value="Place order"
                                                                                data-value="Place order"
                                                                                style="display: block;width: 100%;">Submit
                                                                            </button>
                                                                        </div>
                                                                        <div class="col-md-3 mb-2">
                                                                            <button type="submit" class="button alt"
                                                                                onclick="forgorpassword()"
                                                                                formaction="/ForgotPasswordLogIn"
                                                                                formnovalidate
                                                                                name="woocommerce_checkout_place_order"
                                                                                id="place_order" value="Place order"
                                                                                data-value="Place order"
                                                                                style="display: block;width: 100%;">Forgot
                                                                                Password
                                                                            </button>
                                                                        </div>

                                                                        <div class="col-md-3 mb-2">
                                                                            <a class="button alt"
                                                                                style="width: 100%;text-align: center;text-decoration: none;"
                                                                                href="/Registration">
                                                                                Create Your Account
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                            <!-- </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <%- include('../partial/footer.ejs') %>
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
                    <script src="../../javascripts/jquery.validate.js"></script>
                    <script src="../../javascripts/inputvalidation.js"></script>
                    <script type="text/javascript">
                        function login() {
                            $("#frmAddUser").validate({
                                debug: false,
                                errorElement: 'span',
                                invalidHandler: function (event, validator) {
                                    //debugger;
                                    if (validator.numberOfInvalids() > 0) {
                                        event.preventDefault();
                                    }
                                },
                                onkeyup: false,
                                messages: {
                                    EmailID: {
                                        required: "Please Enter Email ID"
                                    },
                                    Password: {
                                        required: "Please Enter Password",
                                    }
                                },
                                rules: {
                                    EmailID: {
                                        required: true,
                                    },
                                    Password: {
                                        required: true,
                                    },
                                },
                                errorPlacement: function (error, element) {
                                    if (element.parent('.input-group').length) {
                                        error.insertAfter(element.parent());
                                    } else if (element.hasClass('select2')) {
                                        error.insertAfter(element.next('span'));
                                    } else if ($(element).parent().hasClass('multiselect-native-select')) {
                                        error.insertAfter($(element).parent());
                                    } else {
                                        error.insertAfter(element);
                                    }
                                },
                                submitHandler: function (form, event) {
                                    // event.preventDefault();
                                    SaveVisitorDetailData();
                                }
                            });
                        }

                        function forgorpassword() {
                            $("#frmAddUser").validate({
                                debug: false,
                                errorElement: 'span',
                                invalidHandler: function (event, validator) {
                                    //debugger;
                                    if (validator.numberOfInvalids() > 0) {
                                        event.preventDefault();
                                    }
                                },
                                onkeyup: false,
                                messages: {
                                    EmailID: {
                                        required: "Please Enter EmailID"
                                    },
                                },
                                rules: {
                                    EmailID: {
                                        required: true,
                                    },
                                },
                                errorPlacement: function (error, element) {
                                    if (element.parent('.input-group').length) {
                                        error.insertAfter(element.parent());
                                    } else if (element.hasClass('select2')) {
                                        error.insertAfter(element.next('span'));
                                    } else if ($(element).parent().hasClass('multiselect-native-select')) {
                                        error.insertAfter($(element).parent());
                                    } else {
                                        error.insertAfter(element);
                                    }
                                },
                                submitHandler: function (form, event) {
                                    // event.preventDefault();
                                    SaveVisitorDetailData();
                                }
                            });
                        }
                        // $('#btn').on('click', function () {
                        //     $("#form1").valid();
                        // });

                        var error = JSON.parse('<%- JSON.stringify(alertTitle) %>');
                        var error1 = JSON.parse('<%- JSON.stringify(alertMessage) %>');
                        var errortype;
                        if (error) {
                            if (error == "Invalid") {
                                errortype = 'warning'
                            } else if (error == "Success") {
                                errortype = 'success'
                            } else if (error == "Delete") {
                                errortype = 'success'
                            }
                            Swal.fire({
                                //title: error,
                                text: error1,
                                icon: errortype,
                                // icon: 'error',
                                showCancelButton: false,
                                showConfirmButton: false,
                                // toast: false,
                                // modal: true,
                                //position: 'relative',
                                timer: 3000
                            }).then(function () {
                                if (error == "Success") { window.location.replace(window.location.origin + '/Splash') }
                                else if (error == "Invalid" && ID != '') {
                                    window.location.replace(window.location.origin + '/Splash/' + ID)
                                }
                            });
                        }
                    </script>