<%- include('../partial/head.ejs') %>
    <style id='lacomete-edge-woo-inline-css' type='text/css'>
        .editBtn {
            width: 130px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            height: 40px;
            background-color: white;
            color: black;
            border: 2px solid #555555;
        }

        .editBtn:hover {
            background-color: #555555;
            color: white;
        }


        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            max-width: 300px;
            margin: auto;
            text-align: center;
            font-family: arial;
        }

        .card:hover {
            /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); */
            /* transition: all 0.3s ease-in-out, color 0s, border-color 0s; */
            opacity: 1;
            transform: scale(1.1)
        }

        .price {
            color: grey;
            font-size: 22px;
        }

        .card button {
            border: none;
            outline: 0;
            padding: 2px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-size: 15px;
        }



        .card button:hover {
            opacity: 0.7;
        }

        @media only screen and (max-width: 1024px) {}

        .postid-3629 .edgtf-top-bar {
            background-image: none;
        }

        .postid-3629 .edgtf-content .edgtf-content-inner>.edgtf-container>.edgtf-container-inner,
        .postid-3629 .edgtf-content .edgtf-content-inner>.edgtf-full-width>.edgtf-full-width-inner {
            padding: 130px 0 122px 0;
        }

        .postid-3629 .edgtf-content .edgtf-content-inner>.edgtf-container>.edgtf-container-inner,
        .postid-3629 .edgtf-content .edgtf-content-inner>.edgtf-full-width>.edgtf-full-width-inner {
            padding: 130px 0 122px 0;
        }

        /* @media only screen and (min-width: 769px) {
            .edgtf-woo-single-page.edgtf-woo-single-thumb-on-left-side .edgtf-single-product-content .images.woocommerce-product-gallery--with-images .woocommerce-product-gallery__image:first-child {
                height: 850px !important;
            }
        } */

        @media only screen and (min-width: 769px) {
            .edgtf-woo-single-page .edgtf-single-product-content .images {
                width: 56% !important;
            }
        }

        .edgtf-woo-single-page .edgtf-single-product-content .images figure a img.edgtf-fake-featured-image {
            height: 100% !important;
        }

        @media only screen and (max-width: 680px) {
            .edgtf-position-right-inner {
                font-size: 11px;
            }

            .edgtf-container-inner,
            .edgtf-grid,
            .edgtf-row-grid-section {
                width: 292px !important;
            }
        }
    </style>
    <script src="../../javascripts/sweetalert/sweetalert2@11.js"></script>

    <!-- Start Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-P2KXJ0J054"></script>
    <script> window.dataLayer = window.dataLayer || []; function
            gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config',
                'G-P2KXJ0J054'); 
    </script>
    <!-- End Google tag (gtag.js) -->

    <%- include('../partial/pagetracker.ejs') %>

        <%- include('../partial/header.ejs') %>
            <%- include('../partial/pageheader.ejs') %>
                <div class="edgtf-content">
                    <div class="edgtf-content-inner">
                        <!-- <div class="edgtf-title-holder edgtf-centered-type edgtf-title-va-header-bottom edgtf-has-bg-image"
                            style="height: 240px;background-image:url(../fRntTemplte/wp-content/uploads/2019/04/title-area-background-img.jpg);"
                            data-height="240">
                            <div class="edgtf-title-image">
                                <img itemprop="image"
                                    src="../fRntTemplte/wp-content/uploads/2019/04/title-area-background-img.jpg"
                                    alt="p">
                            </div>
                            <div class="edgtf-title-wrapper" style="height: 240px">
                                <div class="edgtf-title-inner">
                                    <div class="edgtf-grid">
                                        <h1 class="edgtf-page-title entry-title">
                                            WishList
                                        </h1>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div class="edgtf-container">
                            <div class="edgtf-container-inner clearfix" style=" padding-top: 50px;
                        padding-bottom: 50px;">
                                <div class="woocommerce-notices-wrapper"></div>
                                <div id="product-3629"
                                    class="product type-product post-3629 status-publish first instock product_cat-modern product_tag-black product_tag-silver product_tag-woman has-post-thumbnail downloadable shipping-taxable purchasable product-type-simple">
                                    <section class="related products">
                                        <div class="edgtf-row-grid-section-wrapper ">
                                            <div class="edgtf-row-grid-section">
                                                <div class="vc_row wpb_row vc_row-fluid">
                                                    <div class="wpb_column vc_column_container vc_col-sm-12">
                                                        <div class="vc_column-inner">
                                                            <div class="wpb_wrapper">
                                                                <div
                                                                    class="edgtf-pl-holder edgtf-grid-list edgtf-disable-bottom-space edgtf-standard-layout edgtf-four-columns edgtf-normal-space edgtf-info-on-image-simple-predefined ">
                                                                    <div class="edgtf-pl-outer edgtf-outer-space item-grid"
                                                                        id="item-grid">

                                                                        <!-- No Items added to the wishlist -->

                                                                        <% if (WishListData) { %>
                                                                            <% for(var i=0; i < WishListData.length;
                                                                                i++) {%>
                                                                                <div
                                                                                    class="edgtf-pli edgtf-item-space col-md-4">
                                                                                    <div class="card">
                                                                                        <a href="/ItemDetail/<%= WishListData[i].ItemID %>"
                                                                                            target="" onclick="">
                                                                                            <img src="<%= process.env.ItemImagePATH + WishListData[i].ItemImage %>"
                                                                                                alt=""
                                                                                                style="width:100%">
                                                                                        </a>
                                                                                        <h5 class="itemText">
                                                                                            <%= WishListData[i].ItemName
                                                                                                %>
                                                                                        </h5>
                                                                                        <p class="">
                                                                                            Rs. <%=
                                                                                                WishListData[i].Amount
                                                                                                %>
                                                                                        </p>
                                                                                        <p> <a href="/removeWishList/<%= WishListData[i].WishListID %>"
                                                                                                target=""
                                                                                                onclick="return confirm('Are you sure you want to Delete this Item?')"><button>Remove</button></a>
                                                                                        </p>

                                                                                    </div>
                                                                                </div>
                                                                               
                                                                                <%}%>
                                                                                    <% } else { %>
                                                                                       

                                                                                        <p
                                                                                            class="cart-empty woocommerce-info fontempty">
                                                                                            Your wishlist is currently
                                                                                            empty.
                                                                                        </p>
                                                                                        <p class="return-to-shop ">
                                                                                            <a class="button wc-backward"
                                                                                                href="/Splash">
                                                                                                Return to shop
                                                                                            </a>
                                                                                        </p>
                                                                                        <% } %>

                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <%- include('../partial/footer.ejs') %>
                    <!-- <script src="../../javascripts/sweetalert/sweetalert2@11.js"></script> -->
                    <script type="text/javascript">

                        var error = JSON.parse('<%- JSON.stringify(alertTitle) %>');
                        var error1 = JSON.parse('<%- JSON.stringify(alertMessage) %>');
                        var errortype;
                        if (error) {
                            if (error == "Invalid") {
                                errortype = 'warning'
                            } else if (error == "Success") {
                                errortype = 'success'
                            } else if (error == "Delete") {
                                errortype = 'success'
                            }
                            Swal.fire({
                                //title: error,
                                text: error1,
                                icon: errortype,
                                // icon: 'error',
                                showCancelButton: false,
                                showConfirmButton: false,
                                // toast: false,
                                // modal: true,
                                //position: 'relative',
                                timer: 3000
                            }).then(function () {
                                if (error == "Success" || error == "Delete" || error == "Invalid") { window.location.replace(window.location.origin + '/WishList') }
                                else if (error == "Invalid" && ID != '') {
                                    window.location.replace(window.location.origin + '/WishList/' + ID)
                                }
                            });
                        }
                    </script>