<%- include('../partials/head.ejs') %>
    <style>
        .dataTables_wrapper .dataTable tfoot th,
        .dataTables_wrapper .dataTable thead th {
            font-weight: 500;
            color: #181C32;
        }

        .toggle-slide {
            overflow: hidden;
            cursor: pointer;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            direction: ltr;
        }

        .toggle-slide .toggle-on,
        .toggle-slide .toggle-off,
        .toggle-slide .toggle-blob {
            float: left;
        }

        .toggle-slide .toggle-blob {
            position: relative;
            z-index: 99;
            cursor: hand;
            cursor: grab;
            cursor: -moz-grab;
            cursor: -webkit-grab;
        }

        .toggle {
            height: 25px !important;
        }

        .toggle-off {
            background-color: #E4E6EF;
            height: 25px !important;
            line-height: 25px !important;
        }

        .toggle-on {
            background-color: #03449e;
            color: white;
            height: 25px !important;
            line-height: 25px !important;
        }
    </style>
    <%- include('../partials/header.ejs') %>
        <!--begin::Content-->
        <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
            <!--begin::Entry-->
            <div class="d-flex flex-column-fluid">
                <div class="container-fluid">
                    <div class="row" id="div1" runat="server">
                        <div class="col-md-12">
                            <div class="card-custom example example-compact" id="divAddUser" style="margin-top: 5px; ">
                                <div class="card-body">
                                    <div class="card card-custom gutter-b example example-compact"
                                        style="margin-bottom:0;">
                                        <div class="card-header">
                                            <div class="card-title">
                                                <h3 class="card-label h3css">Change Password
                                            </div>
                                        </div>
                                        <div id="datatable-container" class="card-body cardbodycss"
                                            style="overflow: auto;position:relative">

                                            <form id="frmchangepassword" class="form" action="/ChangePassword"
                                                method="post" autocomplete="off">

                                                <div class="card-body">
                                                    <div id="divSearch" class="">
                                                        <div class="row" style="margin-bottom: -16px;">
                                                            <div class="col-md-3 col-lg-3" style="margin-bottom: 10px">
                                                                <div class="form-group formgroupcss">
                                                                    <label>Old Password : <span
                                                                            class="text-danger ml-1">*</span></label>
                                                                    <input type="password" id="oldPassword"
                                                                        placeholder="Old Password" autocomplete="off"
                                                                        class="form-control" name="oldPassword"
                                                                        tabindex="1" maxlength="100">
                                                                </div>
                                                            </div>

                                                            <div class="col-md-3 col-lg-3" style="margin-bottom: 10px">
                                                                <div class="form-group formgroupcss">
                                                                    <label>New Password : <span
                                                                            class="text-danger ml-1">*</span></label>
                                                                    <input type="password" id="newPassword"
                                                                        placeholder="New Password" autocomplete="off"
                                                                        class="form-control" name="newPassword"
                                                                        tabindex="2" maxlength="100">
                                                                </div>
                                                            </div>

                                                            <div class="col-md-3 col-lg-3" style="margin-bottom: 10px">
                                                                <div class="form-group formgroupcss">
                                                                    <label>Confirm Password : <span
                                                                            class="text-danger ml-1">*</span></label>
                                                                    <input type="password" id="confirmPassword"
                                                                        placeholder="Confirm Password"
                                                                        autocomplete="off" class="form-control"
                                                                        name="confirmPassword" tabindex="3"
                                                                        maxlength="100">
                                                                </div>
                                                            </div>

                                                            <div class="col-md-3 col-lg-3"
                                                                style="display: flex; align-items: center">
                                                                <div class="form-group formgroupbuttoncss"
                                                                    style="margin-top: 0">
                                                                    <button type="submit" id="btnSubmit"
                                                                        class="btn btn-primary"
                                                                        style="margin-bottom: 10px;"
                                                                        tabindex="4">Submit</button>
                                                                    <button type="reset" value="reset" id="btnCancel"
                                                                        class="btn btn-danger"
                                                                        style="margin-bottom: 10px;"
                                                                        onclick="CancelFunction()"
                                                                        tabindex="5">Cancel</button>
                                                                </div>
                                                            </div>


                                                        </div>
                                                    </div>
                                                </div>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--end::Entry-->
        </div>
        <!--end::Content-->

        <%- include('../partials/footer.ejs') %>

            <script>
                $("#frmchangepassword").validate({
                    debug: false,
                    errorElement: 'span',
                    invalidHandler: function (event, validator) {
                        if (validator.numberOfInvalids() > 0) {
                            event.preventDefault();
                        }
                    },
                    onkeyup: false,
                    messages: {
                        oldPassword: {
                            required: "Please Enter Old Password"
                        },
                        newPassword: {
                            required: "Please Enter New Password"
                        },
                        confirmPassword: {
                            required: "Please Enter Confirm Password"
                        }
                    },
                    rules: {
                        oldPassword: {
                            required: true,
                        },
                        newPassword: {
                            required: true,
                        },
                        confirmPassword: {
                            required: true
                        }
                    },
                    errorPlacement: function (error, element) {
                        if (element.parent('.input-group').length) {
                            error.insertAfter(element.parent());
                        } else if (element.hasClass('select2')) {
                            error.insertAfter(element.next('span'));
                        } else if ($(element).parent().hasClass('multiselect-native-select')) {
                            error.insertAfter($(element).parent());
                        } else {
                            error.insertAfter(element);
                        }
                    },
                    submitHandler: function (form, event) {
                        if (checkPassword()) {
                            event.preventDefault();
                        }
                    }
                });


                function checkPassword() {
                    if ($('#newPassword').val() === $('#confirmPassword').val()) {
                        return true
                    } else {
                        Swal.fire({
                            title: '',
                            text: 'Confirm Password not match',
                            type: error,
                            icon: 'error',
                            showCancelButton: false,
                            showConfirmButton: false,
                            iconColor: '#03449e',
                            // toast: false,
                            // modal: true,
                            //position: 'relative',
                            timer: 3000
                        })
                        return false
                    }
                }



                var error = JSON.parse('<%- JSON.stringify(alertTitle) %>');
                var error1 = JSON.parse('<%- JSON.stringify(alertMessage) %>');
                var errortype;
                var icon = "";
                if (error) {
                    if (error == "Invalid") {
                        errortype = 'warning'
                        icon = "error"
                    } else if (error == "Success") {
                        errortype = 'success'
                        icon = "success"
                    } else if (error == "Delete") {
                        errortype = 'success'
                        icon = "success"
                    }
                    Swal.fire({
                        title: error,
                        text: error1,
                        //type: errortype,
                        icon: errortype,
                        showCancelButton: false,
                        showConfirmButton: false,
                        iconColor: '#03449e',
                        // toast: false,
                        // modal: true,
                        //position: 'relative',
                        timer: 3000
                    }).then(function () {
                        if (error == "Success") { window.location.replace(window.location.origin + '/Splash') }
                        else if (error == "Invalid" && ID != '') {
                            window.location.replace(window.location.origin + '/ChangePassword')
                        }
                    });
                }
            </script>