<%- include('../partials/head.ejs') %>
    <style>
        .dataTables_wrapper .dataTable tfoot th,
        .dataTables_wrapper .dataTable thead th {
            font-weight: 500;
            color: #181C32;
        }

        /* .card.card-custom>.card-header {
            min-height: 38px !important;
        } */
    </style>
    <%- include('../partials/header.ejs') %>
        <!--begin::Content-->
        <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
            <!--begin::Entry-->
            <div class="d-flex flex-column-fluid">
                <div class="container-fluid">
                    <div class="row" id="div1" runat="server">
                        <div class="col-md-12">
                            <div class="card-custom example example-compact" id="divFilter"
                                style="margin-top: 0px;display: none;">
                                <div class="card-body">
                                    <div class="card card-custom gutter-b example example-compact"
                                        style="margin-bottom:0;">
                                        <div class="card-header">
                                            <div class="card-title">
                                                <h3 class="card-label h3css">Search IRN Generated Report Details
                                            </div>
                                        </div>
                                        <div id="datatable-container" class="card-body cardbodycss"
                                            style="overflow: auto;position:relative">
                                            <form id="frmINRReport" class="form" action="/INRReport" method="post"
                                                autocomplete="off">
                                                <div class="card-body">
                                                    <div id="divFilter" class="">
                                                        <div class="row" style="margin-bottom: -22px;">
                                                            <div class="col-md-2 col-lg-2">
                                                                <div class="form-group formgroupcss">
                                                                    <label>Order No : </label>
                                                                    <input type="text" id="order_no" name="order_no"
                                                                        autocomplete="off" class="form-control"
                                                                        placeholder="Order No">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-2 col-lg-2">
                                                                <div class="form-group formgroupcss">
                                                                    <label>Start Date : </label>
                                                                    <input type="text" id="start_date" name="start_date"
                                                                        class="form-control pickDate"
                                                                        data-date-format="dd-mm-yyyy"
                                                                        placeholder="Start Date" readonly>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-2 col-lg-2">
                                                                <div class="form-group formgroupcss">
                                                                    <label>End Date : </label>
                                                                    <input type="text" id="end_date" name="end_date"
                                                                        class="form-control pickDate"
                                                                        data-date-format="dd-mm-yyyy"
                                                                        placeholder="End Date" readonly>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4 col-lg-4"
                                                                style="padding-top: 12px; margin-bottom: 20px">
                                                                <div class="form-group formgroupbuttoncss">
                                                                    <button type="submit" id="btnSearchSubmit"
                                                                        class="btn btn-primary"
                                                                        style="margin-bottom: 10px;">
                                                                        <i class="fa fa-search"
                                                                            style="color: white;"></i>
                                                                        Search</button>
                                                                    <button type="reset" value="reset" id="btnCancel"
                                                                        class="btn btn-danger"
                                                                        style="margin-bottom: 10px;"
                                                                        onclick="CancelFunction()">
                                                                        <i
                                                                            class="fa-window-close fas"></i>Cancel</button>
                                                                    <button id="btnExcel" name="btnExcel" type="submit"
                                                                        class="btn btn-success"
                                                                        formaction="/INRReportExcel" formmethod="post"
                                                                        style="margin-bottom: 10px;">
                                                                        <i class="fa fa-file-excel"
                                                                            style="color: white;"></i>Excel</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="card-custom example example-compact" style="margin-top: 0px;">
                                <!-- <div class="separator separator-dashed mt-8 mb-5"></div> -->
                                <div class="card-body">
                                    <div class="card card-custom gutter-b example example-compact">
                                        <div class="card-header">
                                            <div class="card-title">
                                                <h3 class="card-label h3css">IRN Generated Report List
                                            </div>
                                            <div class="card-title">
                                                <button id="btnFilter" type="button" class="btn btn-primary"
                                                    onclick="divhideShowFilterDetail(this)" style="margin: 5px;"
                                                    onclick="">&nbsp;<i class="fa fa-plus"></i>Filter &nbsp;<i
                                                        class='fa fa-filter'></i></button>
                                                <div></div>
                                            </div>
                                        </div>
                                        <div id="datatable-container" class="card-body cardbodycss"
                                            style="overflow: auto;position:relative">
                                            <table class="table table-bordered" id="tblINRReport">
                                                <thead>
                                                    <tr>
                                                        <th width="5%">Sr. No.</th>
                                                        <th width="10%">Order Date</th>
                                                        <th width="8%">Order No</th>
                                                        <th width="5%">Order Status</th>
                                                        <th width="10%">Invoice No</th>
                                                        <th width="20%">IRN No</th>
                                                        <th width="10%">Customer Type</th>
                                                        <th width="8%">Customer GSTIN</th>
                                                        <th width="8%">Depot GSTIN</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tblbody">
                                                    <% if(INRReportData && INRReportData.data &&
                                                        INRReportData.data.length> 0){ %>
                                                        <% for(var i=0; i < INRReportData.data.length; i++) {%>
                                                            <tr>
                                                                <td>
                                                                    <span>
                                                                        <%= i+1 %>
                                                                    </span>
                                                                </td>
                                                                <td>
                                                                    <% var s=INRReportData.data[i].ship_dt %>
                                                                        <%- moment(s).format('DD-MM-yyyy') %>
                                                                </td>
                                                                <td>
                                                                    <%- INRReportData.data[i].order_no %>
                                                                </td>
                                                                <td>
                                                                    <% if(INRReportData.data[i].constant_order_status &&
                                                                        INRReportData.data[i].constant_order_status.length>
                                                                        0){ %>
                                                                        <%- INRReportData.data[i].constant_order_status[0].status_name
                                                                            %>
                                                                            <%}%>
                                                                </td>
                                                                <td>
                                                                    <%- INRReportData.data[i].order_no %>
                                                                </td>
                                                                <td>
                                                                    <% if(INRReportData.data[i].irn_details &&
                                                                        INRReportData.data[i].irn_details.length>
                                                                        0){ %>
                                                                        <span style="overflow-wrap: anywhere;">
                                                                            <%- INRReportData.data[i].irn_details[0].Irn
                                                                                %>
                                                                        </span>
                                                                        <%}%>
                                                                </td>
                                                                <td>
                                                                    <% if(INRReportData.data[i].cust_org_information &&
                                                                        INRReportData.data[i].cust_org_information.length>
                                                                        0){ %>

                                                                        <% if(INRReportData.data[i].cust_org_information[0].customer_type_information
                                                                            &&
                                                                            INRReportData.data[i].cust_org_information[0].customer_type_information.length>
                                                                            0){ %>

                                                                            <%- INRReportData.data[i].cust_org_information[0].customer_type_information[0].customer_type
                                                                                %>
                                                                                <%}%>
                                                                                    <%}%>
                                                                </td>
                                                                <td>
                                                                    <% if(INRReportData.data[i].cust_org_information &&
                                                                        INRReportData.data[i].cust_org_information.length>
                                                                        0){ %>
                                                                        <%- INRReportData.data[i].cust_org_information[0].gstno
                                                                            %>
                                                                            <%}%>
                                                                </td>
                                                                <td>
                                                                    <% if(INRReportData.data[i].depot_information &&
                                                                        INRReportData.data[i].depot_information.length>
                                                                        0){ %>
                                                                        <%- INRReportData.data[i].depot_information[0].gstin
                                                                            %>
                                                                            <%}%>
                                                                </td>
                                                            </tr>
                                                            <%}%>
                                                                <%}%>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Entry-->
        </div>
        <!--end::Content-->

        <%- include('../partials/footer.ejs') %>
            <script type="text/javascript">

                $(".select2dropdown").select2();

                function CancelFunction() {
                    window.location.href = "/INRReport";
                }

                $("#start_date").datepicker({
                    clearBtn: true,
                    todayHighlight: true,
                    endDate: new Date(),
                    orientation: "bottom"
                }).datepicker("setDate", 'now').on('changeDate', function (e) {
                    $(this).datepicker('hide');
                    var selectedDate = new Date(e.date);
                    $("#end_date").datepicker("setStartDate", selectedDate);
                    $("#end_date").datepicker("setDate", selectedDate);
                });

                $("#end_date").datepicker({
                    clearBtn: true,
                    todayHighlight: true,
                    startDate: new Date(),
                    endDate: new Date(),
                    orientation: "bottom"
                }).datepicker("setDate", 'now').on('changeDate', function (e) {
                    $(this).datepicker('hide');
                });


                $("#tblINRReport").DataTable({
                    "lengthChange": true,
                    lengthMenu: [10, 20, 30],
                });


                $('#btnSearchSubmit').on('click', function () {
                    var stdt = $("#start_date").val().toString().split('-');
                    var endt = $("#end_date").val().toString().split('-');
                    var startDate = new Date(stdt[2] + "-" + stdt[1] + "-" + stdt[0]);
                    var endDate = new Date(endt[2] + "-" + endt[1] + "-" + endt[0]);
                    var diff = new Date(endDate - startDate);

                    var days = diff / 1000 / 60 / 60 / 24;

                    if (days <= 31) {
                        $('#btnSearchSubmit').submit();
                    } else {
                        Swal.fire({
                            title: '',
                            text: 'Difference between dates should be less than 31',
                            type: 'error',
                            icon: 'error',
                            showCancelButton: false,
                            showConfirmButton: false,
                            iconColor: '#03449e',
                            timer: 3000
                        })
                        return false;
                    }
                });

                function divhideShowFilterDetail(data) {
                    if ($(data).find('.fa-plus').length > 0) {
                        $("#divFilter").css("display", "block");
                        $(data).find('.fa-plus').addClass('fa-minus')
                        $(data).find('.fa-plus').removeClass('fa-plus')
                    }
                    else {
                        $("#divFilter").css("display", "none");
                        $(data).find('.fa-minus').addClass('fa-plus')
                        $(data).find('.fa-minus').removeClass('fa-minus')
                    }
                    $(".select2dropdown").select2();
                }

                var SearchData = JSON.parse('<%- JSON.stringify(SearchData) %>');
                if (SearchData) {
                    $("#order_no").val(SearchData.order_no).change();
                    $("#start_date").val(SearchData.start_date).change();
                    $("#end_date").datepicker("setStartDate", SearchData.start_date);
                    $("#end_date").val(SearchData.end_date).change();
                } else {
                    $("#order_no").val();
                    $("#start_date").val();
                    $("#end_date").val();
                }

                var FilterData = JSON.parse('<%- JSON.stringify(FilterData) %>');
                searchStatus = FilterData;
                if (searchStatus == true) {
                    $("#divFilter").css("display", "block");
                    $("#btnFilter").find('.fa-plus').addClass('fa-minus')
                    $("#btnFilter").find('.fa-plus').removeClass('fa-plus')
                    $(".select2dropdown").select2();
                }

            </script>