<%- include('../partials/head.ejs') %>
    <style>
        .dataTables_wrapper .dataTable tfoot th,
        .dataTables_wrapper .dataTable thead th {
            font-weight: 500;
            color: #181C32;
        }

        .dataTables_wrapper .dataTable td,
        .dataTables_wrapper .dataTable thead th {
            white-space: nowrap !important;
        }
    </style>

    <%- include('../partials/header.ejs') %>
        <!--begin::Content-->
        <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
            <!--begin::Entry-->
            <div class="d-flex flex-column-fluid">
                <div class="container-fluid">
                    <div class="row" id="div1" runat="server">
                        <div class="col-md-12">
                            <div class="card-custom example example-compact" id="divFilter"
                                style="margin-top: 5px;display: none;">
                                <div class="card-body">
                                    <div class="card card-custom gutter-b example example-compact"
                                        style="margin-bottom:0;">
                                        <div class="card-header">
                                            <div class="card-title">
                                                <h3 class="card-label h3css">Search Order Details
                                            </div>
                                        </div>
                                        <div id="datatable-container" class="card-body cardbodycss"
                                            style="overflow: auto;position:relative">
                                            <form id="frmPlantUser" class="form" action="/OrderView" method="post"
                                                autocomplete="off">
                                                <div class="card-body">
                                                    <div id="divFilter" class="">
                                                        <div class="row" style="margin-bottom: -39px;">
                                                            <div class="col-md-3 col-lg-3">
                                                                <div class="form-group formgroupcss">
                                                                    <label>Order No : </label>
                                                                    <input type="text" id="order_no"
                                                                        placeholder="Order No" autocomplete="off"
                                                                        class="form-control " name="order_no">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3 col-lg-3">
                                                                <div class="form-group formgroupcss">
                                                                    <label>Depot : </label>
                                                                    <select id="depot_id"
                                                                        class="form-control select2 select2dropdown"
                                                                        name="depot_id" tabindex="6">
                                                                        <option Value="">--Select Depot--</option>
                                                                        <%if(DepotData && DepotData.data &&
                                                                            DepotData.data.length> 0){%>
                                                                            <%for(var i=0; i < DepotData.data.length;
                                                                                i++){%>
                                                                                <option
                                                                                    value="<%= DepotData.data[i].id %>">
                                                                                    <%= DepotData.data[i].depot_name %>
                                                                                </option>
                                                                                <%}%>
                                                                                    <%}%>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3 col-lg-3">
                                                                <div class="form-group formgroupcss">
                                                                    <label>Product : </label>
                                                                    <select id="product_id"
                                                                        class="form-control select2dropdown"
                                                                        name="product_id">
                                                                        <option Value="">--Select Product--
                                                                        </option>
                                                                        <%if(ProductData && ProductData.data &&
                                                                            ProductData.data.length> 0){%>
                                                                            <%for(var i=0; i < ProductData.data.length;
                                                                                i++){%>
                                                                                <option
                                                                                    value="<%= ProductData.data[i].id %>">
                                                                                    <%= ProductData.data[i].product_name
                                                                                        %>
                                                                                </option>
                                                                                <%}%>
                                                                                    <%}%>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3 col-lg-3">
                                                                <div class="form-group formgroupcss">
                                                                    <label>Station : </label>
                                                                    <select ID="station_id"
                                                                        class="form-control select2dropdown"
                                                                        name="station_id">
                                                                        <option Value="">--Select Station--
                                                                        </option>
                                                                        <%if(StationData && StationData.data &&
                                                                            StationData.data.length> 0){%>
                                                                            <%for(var i=0; i < StationData.data.length;
                                                                                i++){%>
                                                                                <option
                                                                                    value="<%= StationData.data[i].id %>">
                                                                                    <%= StationData.data[i].station_name
                                                                                        %> (
                                                                                        <%= StationData.data[i].station_code
                                                                                            %>)
                                                                                </option>
                                                                                <%}%>
                                                                                    <%}%>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3 col-lg-3"
                                                                style="padding-top: 12px; margin-bottom: 20px">
                                                                <div class="form-group formgroupcss">
                                                                    <label>Licensee Type : </label>
                                                                    <select ID="order_type"
                                                                        class="form-control select2dropdown select2"
                                                                        name="order_type" tabindex="3">
                                                                        <option Value="">--Select Licensee
                                                                            Type--
                                                                        </option>
                                                                        <% if(CustTypeData && CustTypeData.data &&
                                                                            CustTypeData.data.length> 0){ %>
                                                                            <%for(var i=0; i < CustTypeData.data.length;
                                                                                i++){%>
                                                                                <option
                                                                                    value="<%= CustTypeData.data[i].customer_type_id %>">
                                                                                    <%= CustTypeData.data[i].customer_type
                                                                                        %>
                                                                                </option>
                                                                                <%}%>
                                                                                    <%}%>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3 col-lg-3"
                                                                style="padding-top: 12px; margin-bottom: 20px">
                                                                <div class="form-group formgroupcss">
                                                                    <label>Start Date : </label>
                                                                    <input type="text" id="startdate"
                                                                        placeholder="Start Date" class="form-control"
                                                                        value="" name="startdate"
                                                                        data-date-format="dd-mm-yyyy" readonly>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3 col-lg-3"
                                                                style="padding-top: 12px;margin-bottom: 20px">
                                                                <div class="form-group formgroupcss">
                                                                    <label>End Date : </label>
                                                                    <input type="text" id="enddate"
                                                                        placeholder="End Date" class="form-control"
                                                                        name="enddate" data-date-format="dd-mm-yyyy"
                                                                        readonly>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4 col-lg-4"
                                                                style="padding-top: 12px; margin-bottom: 20px">
                                                                <div class="form-group formgroupbuttoncss">
                                                                    <button type="submit" id="btnSearchSubmit" class="btn btn-primary"
                                                                        style="margin-bottom: 10px;">
                                                                        <i class="fa fa-search"
                                                                            style="color: white;"></i>
                                                                        Search</button>
                                                                    <button type="reset" value="reset" id="btnCancel"
                                                                        class="btn btn-danger"
                                                                        style="margin-bottom: 10px;"
                                                                        onclick="CancelFunction()">
                                                                        <i
                                                                            class="fa-window-close fas"></i>Cancel</button>
                                                                    <button id="btnExcel" name="btnExcel" type="submit"
                                                                        class="btn btn-success"
                                                                        formaction="/ViewOrderExcel" formmethod="post"
                                                                        style="margin-bottom: 10px;">
                                                                        <i class="fa fa-file-excel"
                                                                            style="color: white;"></i>Excel</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="card-custom example example-compact">
                                <div class="card-body">
                                    <div class="card card-custom gutter-b example example-compact">
                                        <div class="card-header">
                                            <div class="card-title">
                                                <h3 class="card-label h3css">View Order Details
                                            </div>
                                            <div class="card-title">
                                                <button type="button" class="btn btn-primary"
                                                    onclick="divhideShowFilterDetail(this)" style="margin: 5px;"
                                                    onclick="">&nbsp;<i class="fa fa-plus"></i>Filter &nbsp;<i
                                                        class='fa fa-filter'></i></button>
                                                <div></div>
                                            </div>
                                        </div>
                                        <div id="datatable-container" class="card-body cardbodycss"
                                            style="overflow: auto;position:relative">
                                            <!--begin: Datatable-->
                                            <table class="table table-bordered" id="tblOrder">
                                                <thead>
                                                    <tr>
                                                        <th width="5%">Sr. No.</th>
                                                        <th width="12%">Cutomer Name</th>
                                                        <th width="8%">Amount</th>
                                                        <th width="8%">Amount include Tax</th>
                                                        <th width="5%">Order No</th>
                                                        <th width="5%">Order Status</th>
                                                        <th width="5%">Licensee Type</th>
                                                        <th width="10%">Depot Name</th>
                                                        <th width="10%">Station Name</th>
                                                        <th width="12%">Product Name</th>
                                                        <th width="12%">Product Code </th>
                                                        <th width="5%">Quantity</th>
                                                        <th width="8%">Entry Date</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tblbody">
                                                    <% if(OrderData && OrderData.data && OrderData.data.length> 0 ){ %>
                                                        <% for(var i=0; i < OrderData.data.length; i++) {%>
                                                            <tr>
                                                                <td class="tdcss">
                                                                    <span class="tdfont">
                                                                        <%= i+1 %>
                                                                    </span>
                                                                </td>
                                                                <td>
                                                                    <%- OrderData.data[i].cust_name %>
                                                                </td>
                                                                <td>
                                                                    <%- OrderData.data[i].amount %>
                                                                </td>
                                                                <td>
                                                                    <%- OrderData.data[i].amt_incl_tax %>
                                                                </td>
                                                                <td>
                                                                    <%- OrderData.data[i].order_no %>
                                                                </td>
                                                                <td>
                                                                    <%- OrderData.data[i].order_status_name %>
                                                                </td>
                                                                <td>
                                                                    <%- OrderData.data[i].order_type ? OrderData.data[i].order_type == '1' ? 'Licensee' : OrderData.data[i].order_type == '2' ? 'Department' : '' : '' %>
                                                                </td>
                                                                <td>
                                                                    <%- OrderData.data[i].depot_name %>
                                                                </td>
                                                                <td>
                                                                    <%- OrderData.data[i].station_name %>
                                                                </td>
                                                                <td>
                                                                    <%- OrderData.data[i].product_name %>
                                                                </td>
                                                                <td>
                                                                    <%- OrderData.data[i].prod_hsn_number %>
                                                                </td>
                                                                <td>
                                                                    <%- OrderData.data[i].quantity %>
                                                                </td>

                                                                <td>
                                                                    <%- OrderData.data[i].created_at %>
                                                                </td>
                                                            </tr>
                                                            <%}%>
                                                                <%}%>

                                                </tbody>
                                            </table>
                                            <!--end: Datatable-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Entry-->
        </div>
        <!--end::Content-->

        <%- include('../partials/footer.ejs') %>

            <script type="text/javascript">
                $(".select2dropdown").select2();
                function CancelFunction() {
                    window.location.href = "/OrderView";
                }

                $("#startdate").datepicker({
                    clearBtn: true,
                    todayHighlight: true,
                    endDate: new Date(),
                    orientation: "bottom"
                }).datepicker("setDate", 'now').on('changeDate', function (e) {
                    $(this).datepicker('hide');
                    var selectedDate = new Date(e.date);
                    $("#enddate").datepicker("setStartDate", selectedDate);
                    $("#enddate").datepicker("setDate", selectedDate);
                });

                $("#enddate").datepicker({
                    clearBtn: true,
                    todayHighlight: true,
                    startDate: new Date(),
                    endDate: new Date(),
                    orientation: "bottom"
                }).datepicker("setDate", 'now').on('changeDate', function (e) {
                    $(this).datepicker('hide');
                });

                $("#tblOrder").DataTable({
                    "lengthChange": true,
                    lengthMenu: [5, 10, 20],
                });

                $("body").on("click", "img[src*='plus.png']", function () {
                    $(this).closest("tr").after("<tr><td></td><td colspan = '999'>" + $(this).next().html() + "</td></tr>");
                    $(this).attr("src", "../images/minus.png");
                });

                $("body").on("click", "img[src*='minus.png']", function () {
                    $(this).attr("src", "../images/plus.png");
                    $(this).closest("tr").next().remove();
                });

                function divhideShowFilterDetail(data) {
                    if ($(data).find('.fa-plus').length > 0) {
                        $("#divFilter").css("display", "block");
                        $(data).find('.fa-plus').addClass('fa-minus')
                        $(data).find('.fa-plus').removeClass('fa-plus')
                    }
                    else {
                        $("#divFilter").css("display", "none");
                        $(data).find('.fa-minus').addClass('fa-plus')
                        $(data).find('.fa-minus').removeClass('fa-minus')
                    }

                    $(".select2dropdown").select2();
                }


                var SearchData = JSON.parse('<%- JSON.stringify(SearchData) %>');
                if (SearchData) {
                    $("#order_no").val(SearchData.order_no).change();
                    $("#depot_id").val(SearchData.depot_id).change();
                    $("#product_id").val(SearchData.product_id).change();
                    $("#station_id").val(SearchData.station_id).change();
                    $("#order_type").val(SearchData.order_type).change();
                    $("#startdate").val(SearchData.startdate).change();
                    $("#enddate").datepicker("setStartDate", SearchData.startdate);
                    $("#enddate").val(SearchData.enddate).change();

                } else {
                    $("#order_no").val();
                    $("#depot_id").val();
                    $("#product_id").val();
                    $("#station_id").val();
                    $("#order_type").val();
                    $("#startdate").val();
                    $("#enddate").val();

                }

                var FilterData = JSON.parse('<%- JSON.stringify(FilterData) %>');
                searchStatus = FilterData;
                if (searchStatus == true) {
                    $("#divFilter").css("display", "block");
                    $(".select2dropdown").select2();
                }

                $('#btnSearchSubmit').on('click', function () {
                    var stdt = $("#startdate").val().toString().split('-');
                    var endt = $("#enddate").val().toString().split('-');
                    var startDate = new Date(stdt[2] + "-" + stdt[1] + "-" + stdt[0]);
                    var endDate = new Date(endt[2] + "-" + endt[1] + "-" + endt[0]);
                    var diff = new Date(endDate - startDate);

                    var days = diff / 1000 / 60 / 60 / 24;

                    if (days <= 31) {
                        $('#btnSearchSubmit').submit();
                    } else {
                        Swal.fire({
                            title: '',
                            text: 'Difference between dates should be less than 31',
                            type: 'error',
                            icon: 'error',
                            showCancelButton: false,
                            showConfirmButton: false,
                            iconColor: '#03449e',
                            timer: 3000
                        })
                        return false;
                    }
                });
            </script>