<%- include('../partials/head.ejs') %>
    <style>
        .dataTables_wrapper .dataTable tfoot th,
        .dataTables_wrapper .dataTable thead th {
            font-weight: 500;
            color: #181C32;
        }

        .table-bordered td {
            font-size: 1rem
        }
    </style>
    <%- include('../partials/header.ejs') %>
        <!--begin::Content-->
        <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
            <!--begin::Entry-->
            <div class="d-flex flex-column-fluid">
                <div class="container-fluid">
                    <div class="row" id="div1" runat="server">
                        <div class="col-md-12">
                            <div class="card-custom example example-compact" id="divFilter"
                                style="margin-top: 5px;display: none;">
                                <div class="card-body">
                                    <div class="card card-custom gutter-b example example-compact"
                                        style="margin-bottom:0;">
                                        <div class="card-header">
                                            <div class="card-title">
                                                <h3 class="card-label h3css">Search Plant Wise Order Report Details
                                            </div>
                                        </div>
                                        <div id="datatable-container" class="card-body cardbodycss"
                                            style="overflow: auto;position:relative">
                                            <form id="frmPlantUser" class="form" action="/PlantWiseOrderReport"
                                                method="post" autocomplete="off">
                                                <div class="card-body">
                                                    <div id="divFilter" class="">
                                                        <div class="row" style="margin-bottom: -18px;">
                                                            <div class="col-md-2 col-lg-2">
                                                                <div class="form-group formgroupcss">
                                                                    <label>Product : </label>
                                                                    <select id="product_id"
                                                                        class="form-control select2dropdown"
                                                                        name="product_id">
                                                                        <option Value="">--Select Product--
                                                                        </option>
                                                                        <%if(ProductData && ProductData.data &&
                                                                            ProductData.data.length> 0){%>
                                                                            <%for(var i=0; i < ProductData.data.length;
                                                                                i++){%>
                                                                                <option
                                                                                    value="<%= ProductData.data[i].id %>">
                                                                                    <%= ProductData.data[i].product_name
                                                                                        %>
                                                                                </option>
                                                                                <%}%>
                                                                                    <%}%>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-2 col-lg-2">
                                                                <div class="form-group formgroupcss">
                                                                    <label>Depot : </label>
                                                                    <select id="depot_id"
                                                                        class="form-control select2 select2dropdown"
                                                                        name="depot_id" tabindex="6">
                                                                        <option Value="">--Select Depot--</option>
                                                                        <%if(DepotData && DepotData.data &&
                                                                            DepotData.data.length> 0){%>
                                                                            <%for(var i=0; i < DepotData.data.length;
                                                                                i++){%>
                                                                                <option
                                                                                    value="<%= DepotData.data[i].id %>">
                                                                                    <%= DepotData.data[i].depot_name %>
                                                                                </option>
                                                                                <%}%>
                                                                                    <%}%>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-2 col-lg-2">
                                                                <div class="form-group formgroupcss">
                                                                    <label>Start Date : </label>
                                                                    <input type="text" id="startdate"
                                                                        placeholder="Start Date"
                                                                        class="form-control pickDate" name="startdate"
                                                                        data-date-format="dd-mm-yyyy" readonly="">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-2 col-lg-2">
                                                                <div class="form-group formgroupcss">
                                                                    <label>End Date : </label>
                                                                    <input type="text" id="enddate"
                                                                        placeholder="End Date"
                                                                        class="form-control pickDate" name="enddate"
                                                                        data-date-format="dd-mm-yyyy" readonly="">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4 col-lg-4"
                                                                style="padding-top: 10px;margin-bottom: 10px">
                                                                <div class="form-group formgroupbuttoncss">
                                                                    <button type="submit" id="btnSearchSubmit"
                                                                        class="btn btn-primary"
                                                                        style="margin-bottom: 10px;">
                                                                        <i class="fa fa-search"
                                                                            style="color: white;"></i>
                                                                        Search</button>
                                                                    <button type="reset" value="reset" id="btnCancel"
                                                                        class="btn btn-danger"
                                                                        style="margin-bottom: 10px;"
                                                                        onclick="CancelFunction()">
                                                                        <i
                                                                            class="fa-window-close fas"></i>Cancel</button>
                                                                    <button id="btnExcel" name="btnExcel" type="submit"
                                                                        class="btn btn-success"
                                                                        formaction="/ViewPlantWiseOrderExcel"
                                                                        formmethod="post" style="margin-bottom: 10px;">
                                                                        <i class="fa fa-file-excel"
                                                                            style="color: white;"></i>Excel</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="card-custom example example-compact">
                                <!-- <div class="separator separator-dashed mt-8 mb-5"></div> -->
                                <div class="card-body">
                                    <div class="card card-custom gutter-b example example-compact">
                                        <div class="card-header">
                                            <div class="card-title">
                                                <h3 class="card-label h3css">Plant Wise Order Report List
                                            </div>
                                            <div class="card-title">
                                                <button type="button" class="btn btn-primary"
                                                    onclick="divhideShowFilterDetail(this)" style="margin: 5px;"
                                                    onclick="">&nbsp;<i class="fa fa-plus"></i>Filter &nbsp;<i
                                                        class='fa fa-filter'></i></button>
                                                <div></div>
                                            </div>
                                        </div>
                                        <div id="datatable-container" class="card-body cardbodycss"
                                            style="overflow: auto;position:relative">
                                            <!--begin: Datatable-->
                                            <table class="table table-bordered" id="tblReport">
                                                <thead>
                                                    <tr>
                                                        <th class="tdcss" width="5%">Sr. No.</th>
                                                        <th class="tdcss" width="10%">Depot Name
                                                        </th>
                                                        <th class="tdcss" width="8%">Date</th>
                                                        <th class="tdcss" width="12%">Product</th>
                                                        <th class="tdcss" width="6%">Total Orders</th>
                                                        <th class="tdcss" width="5%">Total Qty</th>
                                                        <th class="tdcss" width="5%">Net Amount</th>
                                                        <th class="tdcss" width="4%">CGST</th>
                                                        <th class="tdcss" width="4%">SGST</th>
                                                        <th class="tdcss" width="4%">IGST</th>
                                                        <th class="tdcss" width="7%">Gross Amount</th>

                                                        <th class="tdcss" width="7%">Open Orders</th>
                                                        <th class="tdcss" width="7%">Open Qty</th>
                                                        <th class="tdcss" width="7%">Open Amount</th>
                                                        <th class="tdcss" width="7%">Confirmed Orders</th>
                                                        <th class="tdcss" width="7%">Confirmed Qty</th>
                                                        <th class="tdcss" width="7%">Confirmed Amount</th>
                                                        <th class="tdcss" width="7%">Delivered Orders</th>
                                                        <th class="tdcss" width="7%">Delivered Qty</th>
                                                        <th class="tdcss" width="7%">Delivered Amount</th>
                                                        <th class="tdcss" width="7%">Paid Orders</th>
                                                        <th class="tdcss" width="7%">Paid Qty</th>
                                                        <th class="tdcss" width="7%">Paid Amount</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tblbody">
                                                    <%if(PlantOrderReportData && PlantOrderReportData.data &&
                                                        PlantOrderReportData.data.length> 0){%>
                                                        <% for(var i=0; i < PlantOrderReportData.data.length; i++) {%>
                                                            <% let PlantOrderData=PlantOrderReportData.data[0] %>
                                                                <% let TotalAmountData=PlantOrderReportData.data[1] %>
                                                                    <%for(var i=0; i < PlantOrderData.length; i++){%>
                                                                        <tr>
                                                                            <td class="tdcss">
                                                                                <span class="tdfont">
                                                                                    <%= i+1 %>
                                                                                </span>
                                                                            </td>
                                                                            <td>
                                                                                <%- PlantOrderData[i].depot_name %>
                                                                            </td>
                                                                            <td>
                                                                                <%- PlantOrderData[i].orderdate %>
                                                                            </td>
                                                                            <td>
                                                                                <%- PlantOrderData[i].product_name %>
                                                                            </td>
                                                                            <td>
                                                                                <%- PlantOrderData[i].totalorder %>
                                                                            </td>
                                                                            <td>
                                                                                <%- PlantOrderData[i].totalquantity %>
                                                                            </td>
                                                                            <td>
                                                                                <%- PlantOrderData[i].netamount %>

                                                                            </td>
                                                                            <td>
                                                                                <%- PlantOrderData[i].cgst %>
                                                                            </td>
                                                                            <td>
                                                                                <%- PlantOrderData[i].sgst %>
                                                                            </td>
                                                                            <td>
                                                                                <%- PlantOrderData[i].igst %>
                                                                            </td>
                                                                            <td>
                                                                                <%- PlantOrderData[i].grossamount %>
                                                                            </td>



                                                                            <td>
                                                                                <%- PlantOrderData[i].open_orders %>
                                                                            </td>
                                                                            <td>
                                                                                <%- PlantOrderData[i].open_quantity %>
                                                                            </td>
                                                                            <td>
                                                                                <%- PlantOrderData[i].open_amount %>
                                                                            </td>
                                                                            <td>
                                                                                <%- PlantOrderData[i].confirmed_orders
                                                                                    %>
                                                                            </td>
                                                                            <td>
                                                                                <%- PlantOrderData[i].confirmed_quantity
                                                                                    %>
                                                                            </td>
                                                                            <td>
                                                                                <%- PlantOrderData[i].confirmed_amount
                                                                                    %>
                                                                            </td>
                                                                            <td>
                                                                                <%- PlantOrderData[i].delivered_orders
                                                                                    %>
                                                                            </td>
                                                                            <td>
                                                                                <%- PlantOrderData[i].delivered_quantity
                                                                                    %>
                                                                            </td>
                                                                            <td>
                                                                                <%- PlantOrderData[i].delivered_amount
                                                                                    %>
                                                                            </td>
                                                                            <td>
                                                                                <%- PlantOrderData[i].paid_orders %>
                                                                            </td>
                                                                            <td>
                                                                                <%- PlantOrderData[i].paid_quantity %>
                                                                            </td>
                                                                            <td>
                                                                                <%- PlantOrderData[i].paid_amount %>
                                                                            </td>
                                                                        </tr>
                                                                        <%}%>
                                                                            <%for(var i=0; i < TotalAmountData.length;
                                                                                i++){%>
                                                                                <thead>
                                                                                    <tr>
                                                                                        <td colspan="4">
                                                                                            Total
                                                                                            Amount
                                                                                        </td>
                                                                                        <td>
                                                                                            <%- TotalAmountData[i].totalorder
                                                                                                %>
                                                                                        </td>
                                                                                        <td>
                                                                                            <%- TotalAmountData[i].totalquantity
                                                                                                %>
                                                                                        </td>
                                                                                        <td>
                                                                                            <%- TotalAmountData[i].netamount
                                                                                                %>
                                                                                        </td>

                                                                                        <td>
                                                                                            <%- TotalAmountData[i].cgst
                                                                                                %>
                                                                                        </td>
                                                                                        <td>
                                                                                            <%- TotalAmountData[i].sgst
                                                                                                %>
                                                                                        </td>
                                                                                        <td>
                                                                                            <%- TotalAmountData[i].igst
                                                                                                %>
                                                                                        </td>
                                                                                        <td>
                                                                                            <%- TotalAmountData[i].grossamount
                                                                                                %>
                                                                                        </td>


                                                                                        <td>
                                                                                            <%- TotalAmountData[i].open_orders
                                                                                                %>
                                                                                        </td>
                                                                                        <td>
                                                                                            <%- TotalAmountData[i].open_quantity
                                                                                                %>
                                                                                        </td>
                                                                                        <td>
                                                                                            <%- TotalAmountData[i].open_amount
                                                                                                %>
                                                                                        </td>
                                                                                        <td>
                                                                                            <%- TotalAmountData[i].confirmed_orders
                                                                                                %>
                                                                                        </td>
                                                                                        <td>
                                                                                            <%- TotalAmountData[i].confirmed_quantity
                                                                                                %>
                                                                                        </td>
                                                                                        <td>
                                                                                            <%- TotalAmountData[i].confirmed_amount
                                                                                                %>
                                                                                        </td>
                                                                                        <td>
                                                                                            <%- TotalAmountData[i].delivered_orders
                                                                                                %>
                                                                                        </td>
                                                                                        <td>
                                                                                            <%- TotalAmountData[i].delivered_quantity
                                                                                                %>
                                                                                        </td>
                                                                                        <td>
                                                                                            <%- TotalAmountData[i].delivered_amount
                                                                                                %>
                                                                                        </td>
                                                                                        <td>
                                                                                            <%- TotalAmountData[i].paid_orders
                                                                                                %>
                                                                                        </td>
                                                                                        <td>
                                                                                            <%- TotalAmountData[i].paid_quantity
                                                                                                %>
                                                                                        </td>
                                                                                        <td>
                                                                                            <%- TotalAmountData[i].paid_amount
                                                                                                %>
                                                                                        </td>
                                                                                    </tr>
                                                                                </thead>
                                                                                <%}%>
                                                                                    <%}%>
                                                                                        <%} %>


                                                </tbody>
                                            </table>
                                            <!--end: Datatable-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Entry-->
        </div>
        <!--end::Content-->

        <%- include('../partials/footer.ejs') %>
            <script type="text/javascript">

                $(".select2dropdown").select2();

                function CancelFunction() {
                    window.location.href = "/PlantWiseOrderReport";
                }

                $("#startdate").datepicker({
                    clearBtn: true,
                    todayHighlight: true,
                    endDate: new Date(),
                    orientation: "bottom"
                }).datepicker("setDate", 'now').on('changeDate', function (e) {
                    $(this).datepicker('hide');
                    var selectedDate = new Date(e.date);
                    $("#enddate").datepicker("setStartDate", selectedDate);
                    $("#enddate").datepicker("setDate", selectedDate);
                });

                $("#enddate").datepicker({
                    clearBtn: true,
                    todayHighlight: true,
                    startDate: new Date(),
                    endDate: new Date(),
                    orientation: "bottom",
                }).datepicker("setDate", 'now').on('changeDate', function (e) {
                    $(this).datepicker('hide');
                });


                $("#tblReport").DataTable({
                    "lengthChange": true,
                    lengthMenu: [10, 20, 30],
                });

                function divhideShowFilterDetail(data) {
                    if ($(data).find('.fa-plus').length > 0) {
                        $("#divFilter").css("display", "block");
                        $(data).find('.fa-plus').addClass('fa-minus')
                        $(data).find('.fa-plus').removeClass('fa-plus')
                    }
                    else {
                        $("#divFilter").css("display", "none");
                        $(data).find('.fa-minus').addClass('fa-plus')
                        $(data).find('.fa-minus').removeClass('fa-minus')
                    }
                    $(".select2dropdown").select2();
                }

                var SearchData = JSON.parse('<%- JSON.stringify(SearchData) %>');
                if (SearchData) {
                    $("#product_id").val(SearchData.product_id).change();
                    $("#depot_id").val(SearchData.depot_id).change();
                    $("#startdate").val(SearchData.startdate).change();

                    $("#enddate").datepicker("setStartDate", SearchData.startdate);
                    $("#enddate").val(SearchData.enddate).change();
                } else {
                    $("#product_id").val();
                    $("#depot_id").val();
                    $("#startdate").val();
                    $("#enddate").val();
                }

                var FilterData = JSON.parse('<%- JSON.stringify(FilterData) %>');
                searchStatus = FilterData;
                if (searchStatus == true) {
                    $("#divFilter").css("display", "block");
                    $(".select2dropdown").select2();

                }

                $('#btnSearchSubmit').on('click', function () {
                    var stdt = $("#startdate").val().toString().split('-');
                    var endt = $("#enddate").val().toString().split('-');
                    var startDate = new Date(stdt[2] + "-" + stdt[1] + "-" + stdt[0]);
                    var endDate = new Date(endt[2] + "-" + endt[1] + "-" + endt[0]);
                    var diff = new Date(endDate - startDate);

                    var days = diff / 1000 / 60 / 60 / 24;

                    if (days <= 31) {
                        $('#btnSearchSubmit').submit();
                    } else {
                        Swal.fire({
                            title: '',
                            text: 'Difference between dates should be less than 31',
                            type: 'error',
                            icon: 'error',
                            showCancelButton: false,
                            showConfirmButton: false,
                            iconColor: '#03449e',
                            timer: 3000
                        })
                        return false;
                    }
                });
            </script>