<%- include('../partials/head.ejs') %>
    <style>
        .dataTables_wrapper .dataTable tfoot th,
        .dataTables_wrapper .dataTable thead th {
            font-weight: 500;
            color: #181C32;
        }
    </style>
    <%- include('../partials/header.ejs') %>
        <!--begin::Content-->
        <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
            <!--begin::Entry-->
            <div class="d-flex flex-column-fluid">
                <div class="container-fluid">
                    <div class="row" id="div1" runat="server">
                        <div class="col-md-12">
                            <div class="card-custom example example-compact" id="divAddUser"
                                style="margin-top: 5px; display: none;">
                                <div class="card-body">
                                    <div class="card card-custom gutter-b example example-compact"
                                        style="margin-bottom:0;">
                                        <div class="card-header">
                                            <div class="card-title">
                                                <h3 class="card-label h3css">User Assign Detail
                                            </div>
                                        </div>
                                        <div id="datatable-container" class="card-body cardbodycss"
                                            style="overflow: auto;position:relative">
                                            <% if(!FetchData){ %>
                                                <form id="frmAssignUserDetail" class="form form-horizontal"
                                                    autocomplete="off" method="post" action="/AddStallUser">
                                                    <div class="card card-custom gutter-b example example-compact">
                                                        <div class="row mt-2" style="margin-left: 0">
                                                            <input type="hidden" id="stall_id" name="stall_id"
                                                                value="<%= StallData.data ? StallData.data[0].id : '' %>">
                                                            <div class="col-md-3 col-lg-3" style="margin-bottom: 10px">
                                                                <div class="form-group formgroupcss">
                                                                    <label>User : <span
                                                                            class="text-danger ml-1">*</span></label>
                                                                    <select id="user_id"
                                                                        class="form-control select2 select2dropdown"
                                                                        name="user_id" tabindex="1" onchange="">
                                                                        <option Value="">--Select User--</option>
                                                                        <%if(DropDownUserData && DropDownUserData.data
                                                                            && DropDownUserData.data.length> 0 ){%>
                                                                            <%for(var i=0; i <
                                                                                DropDownUserData.data.length; i++){%>
                                                                                <%for(var j=0; j <
                                                                                    DropDownUserData.data[i].user_details.length;
                                                                                    j++){%>
                                                                                    <option
                                                                                        value="<%= DropDownUserData.data[i].user_details[j].id %>">
                                                                                        <%= DropDownUserData.data[i].user_details
                                                                                            ?
                                                                                            DropDownUserData.data[i].user_details[j].user_information[0].name
                                                                                            : '' %>
                                                                                            (<%= DropDownUserData.data[i].user_details
                                                                                                ?
                                                                                                DropDownUserData.data[i].user_details[j].user_information[0].number
                                                                                                : '' %>
                                                                                                )
                                                                                    </option>
                                                                                    <%}%>
                                                                                        <%}%>
                                                                                            <%}%>

                                                                    </select>

                                                                </div>
                                                            </div>

                                                            <div class="col-md-3 col-lg-3"
                                                                style="display: flex; align-items: center">
                                                                <div class="form-group formgroupbuttoncss"
                                                                    style="margin-top: 0">
                                                                    <button type="submit" id="btnSubmit"
                                                                        class="btn btn-primary"
                                                                        style="margin-bottom: 10px;">Submit</button>
                                                                    <button type="reset" value="reset" id="btnCancel"
                                                                        class="btn btn-danger"
                                                                        style="margin-bottom: 10px;"
                                                                        onclick="CancelFunction()">Cancel</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                                <% }else{ %>
                                                    <form id="frmAssignUserDetail" class="form form-horizontal"
                                                        autocomplete="off" method="post" action="/UpdateStallUser">
                                                        <div class="card card-custom gutter-b example example-compact">
                                                            <div class="row mt-2" style="margin-left: 0">
                                                                <input type="hidden" id="stall_id" name="stall_id"
                                                                    value="<%= StallData.data.length > 0 ? StallData.data[0].id : '' %>">

                                                                <input type="hidden" id="id" name="id"
                                                                    value="<%= FetchData.data[0].id  %>">


                                                                <div class="col-md-3 col-lg-3"
                                                                    style="margin-bottom: 10px">
                                                                    <div class="form-group formgroupcss">
                                                                        <label>User : <span
                                                                                class="text-danger ml-1">*</span></label>
                                                                        <select id="user_id"
                                                                            class="form-control select2 select2dropdown"
                                                                            name="user_id" tabindex="1" onchange="">
                                                                            <option Value="">--Select User--
                                                                            </option>

                                                                            <%for(var i=0; i < DropDownUserData.length;
                                                                                i++){%>
                                                                                <%for(var j=0; j <
                                                                                    DropDownUserData[i].user_details.length;
                                                                                    j++){%>
                                                                                    <% if(FetchData.data[0].stall_users[0].id.toString()==DropDownUserData[i].user_details[j].id.toString()){
                                                                                        %>
                                                                                        <option selected="selected"
                                                                                            value="<%= DropDownUserData[i].user_details[j].id %>">
                                                                                            <%= DropDownUserData[i].user_details
                                                                                                ?
                                                                                                DropDownUserData[i].user_details[j].user_information[0].name
                                                                                                : '' %>
                                                                                                (<%= DropDownUserData[i].user_details
                                                                                                    ?
                                                                                                    DropDownUserData[i].user_details[j].user_information[0].number
                                                                                                    : '' %>
                                                                                                    )
                                                                                        </option>
                                                                                        <% }else{ %>
                                                                                            <option
                                                                                                value="<%= DropDownUserData[i].user_details[j].id %>">
                                                                                                <%= DropDownUserData[i].user_details
                                                                                                    ?
                                                                                                    DropDownUserData[i].user_details[j].user_information[0].name
                                                                                                    : '' %>
                                                                                                    (<%= DropDownUserData[i].user_details
                                                                                                        ?
                                                                                                        DropDownUserData[i].user_details[j].user_information[0].number
                                                                                                        : '' %>
                                                                                                        )
                                                                                            </option>
                                                                                            <% } %>
                                                                                                <% } %>
                                                                                                    <%}%>

                                                                        </select>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-3 col-lg-3"
                                                                    style="display: flex; align-items: center">
                                                                    <div class="form-group formgroupbuttoncss"
                                                                        style="margin-top: 0">
                                                                        <button type="submit" id="btnSubmit"
                                                                            class="btn btn-primary"
                                                                            style="margin-bottom: 10px;">Submit</button>
                                                                        <button type="reset" value="reset"
                                                                            id="btnCancel" class="btn btn-danger"
                                                                            style="margin-bottom: 10px;"
                                                                            onclick="CancelFunction()">Cancel</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                    <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="card-custom example example-compact" id="divFilter"
                                style="margin-top: 5px;display: none;">
                                <div class="card-body">
                                    <div class="card card-custom gutter-b example example-compact"
                                        style="margin-bottom:0;">
                                        <div class="card-header">
                                            <div class="card-title">
                                                <h3 class="card-label h3css">Search Train Detail
                                            </div>
                                        </div>
                                        <div id="datatable-container" class="card-body cardbodycss"
                                            style="overflow: auto;position:relative">
                                            <form id="frmCustUser" class="form" action="/Train" method="post"
                                                autocomplete="off">
                                                <input type="text" id="PlantID" name="plant_id" value=""
                                                    style="display: none;">
                                                <div class="card-body">
                                                    <div id="divFilter" class="">
                                                        <div class="row" style="margin-bottom: -31px;">
                                                            <div class="col-md-3 col-lg-3">
                                                                <div class="form-group formgroupcss">
                                                                    <label>Train : </label>
                                                                    <select id="trainid"
                                                                        class="form-control select2dropdown"
                                                                        name="train_id">
                                                                        <option Value="">--Select Train--
                                                                        </option>

                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3 col-lg-3">
                                                                <div class="form-group formgroupcss">
                                                                    <label>Station : </label>
                                                                    <select id="stationid"
                                                                        class="form-control select2dropdown"
                                                                        name="station_id">


                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3 col-lg-3"
                                                                style="padding-top: 26px; margin-bottom: 20px">
                                                                <div class="form-group formgroupbuttoncss">
                                                                    <button type="submit" id="" class="btn btn-primary"
                                                                        style="margin-bottom: 10px;"
                                                                        onclick="divShowFilterDetail(this)">
                                                                        <i class="fa fa-search"
                                                                            style="color: white;"></i>
                                                                        Search</button>
                                                                    <button type="reset" value="reset" id="btnCancel"
                                                                        class="btn btn-danger"
                                                                        style="margin-bottom: 10px;"
                                                                        onclick="CancelFunction()">
                                                                        <i
                                                                            class="fa-window-close fas"></i>Cancel</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="card-custom example example-compact">
                                <!-- <div class="separator separator-dashed mt-8 mb-5"></div> -->
                                <div class="card-body">
                                    <div class="card card-custom gutter-b example example-compact">
                                        <div class="card-header">
                                            <div class="card-title">
                                                <h3 class="card-label h3css">View Stall User Detail
                                                </h3>
                                                <h3 class="card-label h3css">
                                                    <% if(StallData && StallData.data && StallData.data.length> 0){ %>
                                                        <span style="font-weight: bold;">
                                                            (<%= StallData.data[0].name %> -
                                                                <%= StallData.data[0].code %>) </span>
                                                        <%}%>
                                                </h3>

                                            </div>
                                            <div class="card-title">
                                                <button type="button" class="btn btn-primary"
                                                    onclick="divAddUserDetail(this)" style="margin: 5px;" onclick="">Add
                                                    Detail &nbsp;<i class="fa fa-plus"></i></button>
                                                <div></div>
                                                <!-- <button type="button" class="btn btn-primary"
                                                    onclick="divhideShowFilterDetail(this)"
                                                    style="margin: 5px;">&nbsp;<i class="fa fa-plus"></i>Filter &nbsp;<i
                                                        class='fa fa-filter'></i></button> -->
                                                <div></div>
                                            </div>
                                        </div>
                                        <div id="datatable-container" class="card-body cardbodycss"
                                            style="overflow: auto;position:relative">
                                            <!--begin: Datatable-->
                                            <table class="table table-bordered" id="tblstallUser">
                                                <thead>
                                                    <tr>
                                                        <th class="tdcss" width="1%">Sr. No.</th>
                                                        <th class="tdcss" width="5%">Name</th>
                                                        <th class="tdcss" width="3%">User Name</th>
                                                        <th class="tdcss" width="3%">Mobile No</th>
                                                        <th class="tdcss" width="12%">Address</th>
                                                        <th class="tdcss" width="1%">Edit</th>
                                                        <th class="tdcss" width="1%">Delete</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tblbody">


                                                    <% if(StallUserData && StallUserData.data &&
                                                        StallUserData.data.length> 0){ %>
                                                        <% for(var i=0; i < StallUserData.data.length; i++) {%>
                                                            <% if(StallUserData.data[i].stall_users){%>
                                                                <% for(var j=0; j <
                                                                    StallUserData.data[i].stall_users.length; j++) {%>
                                                                    <tr>
                                                                        <td class=" tdcss">
                                                                            <span class="tdfont">
                                                                                <%= j+1 %>
                                                                            </span>
                                                                        </td>
                                                                        <td>
                                                                            <%- StallUserData.data[i].stall_users[j].user_information_detail[0].name
                                                                                %>
                                                                        </td>
                                                                        <td>
                                                                            <%- StallUserData.data[i].stall_users[j].username
                                                                                %>
                                                                        </td>
                                                                        <td>
                                                                            <%- StallUserData.data[i].stall_users[j].user_information_detail[0].number
                                                                                %>
                                                                        </td>
                                                                        <td>
                                                                            <%- StallUserData.data[i].stall_users[j].user_information_detail[0].address
                                                                                %>
                                                                        </td>
                                                                        <td>
                                                                            <a
                                                                                href="/findByIDStallUser/<%- ID %>/<%- StallUserData.data[i].stall_users[j].id %>"><i
                                                                                    class="la la-pencil-square-o"
                                                                                    style="font-size:24px;color: #03449e;"
                                                                                    onclick="divAddUserDetail(this)"></i></a>
                                                                        </td>
                                                                        <td>
                                                                            <a
                                                                                href="/deleteStallUser/<%- ID %>/<%- StallUserData.data[i].stall_users[j].id %>"><i
                                                                                    class="la la-trash-o"
                                                                                    onclick="return confirm('Are you sure you want to Delete?')"
                                                                                    style="font-size:24px;color:#03449e;"></i></a>
                                                                        </td>
                                                                    </tr>
                                                                    <%}%>
                                                                        <%} %>
                                                                            <%}%>
                                                                                <%}%>

                                                </tbody>
                                            </table>
                                            <!--end: Datatable-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Entry-->
        </div>
        <!--end::Content-->

        <%- include('../partials/footer.ejs') %>

            <script type="text/javascript">
                $(".select2dropdown").select2();

                $("#frmAssignUserDetail").validate({
                    debug: false,
                    errorElement: 'span',
                    invalidHandler: function (event, validator) {
                        if (validator.numberOfInvalids() > 0) {
                            event.preventDefault();
                        }
                    },
                    onkeyup: false,
                    messages: {
                        user_id: {
                            required: "Please Select User"
                        }
                    },
                    rules: {
                        user_id: {
                            required: true,
                        }
                    },
                    errorPlacement: function (error, element) {
                        if (element.parent('.input-group').length) {
                            error.insertAfter(element.parent());
                        } else if (element.hasClass('select2')) {
                            error.insertAfter(element.next('span'));
                        } else if ($(element).parent().hasClass('multiselect-native-select')) {
                            error.insertAfter($(element).parent());
                        } else {
                            error.insertAfter(element);
                        }
                    },
                    submitHandler: function (form, event) {
                        event.preventDefault();
                    }
                });

                var SearchData = JSON.parse('<%- JSON.stringify(SearchData) %>');
                if (SearchData) {
                    // $("#plant_name").val(SearchData.plant_name);
                    $("#station_id").val(SearchData.station_id).change();
                    // $("#cust_org_id").val(SearchData.cust_org_id).change();
                } else {
                    // $("#plant_name").val();
                    $("#station_id").val();
                    // $("#cust_org_id").val();
                }

                var FilterData = JSON.parse('<%- JSON.stringify(FilterData) %>');
                searchStatus = FilterData;
                if (searchStatus == true) {
                    $("#divSearch").css("display", "block");
                    $(".select2dropdown").select2();
                }


                var FetchData = JSON.parse(`<%- JSON.stringify(FetchData).replace(/[\n\r\t]/g, '').replace(/\\/g, '\\\\').replace(/"/g, '\\"').replace(/'/g, "\\'") %>`);
                if (FetchData) {
                    $("#divAddUser").css("display", "block");
                    $(".select2dropdown").select2();
                }

                function divAddUserDetail(data) {
                    if ($(data).find('.fa-plus').length > 0) {
                        $("#divAddUser").css("display", "block");
                        $(data).find('.fa-plus').addClass('fa-minus')
                        $(data).find('.fa-plus').removeClass('fa-plus')
                    }
                    else {
                        $("#divAddUser").css("display", "none");
                        $(data).find('.fa-minus').addClass('fa-plus')
                        $(data).find('.fa-minus').removeClass('fa-minus')
                    }
                    $(".select2dropdown").select2();
                }



                function divhideShowFilterDetail() {
                    $("#divSearch").css("display", "block");
                    $(".select2dropdown").select2();
                }

                var ID = JSON.parse('<%- JSON.stringify(ID) %>');

                function CancelFunction() {
                    window.location.href = "/StallUser/" + ID;
                }


                var error = JSON.parse('<%- JSON.stringify(alertTitle) %>');
                // var error1 = '<%- JSON.stringify(alertMessage) %>';
                var error1 = JSON.parse(`<%- JSON.stringify(alertMessage).replace(/[\n\r\t]/g, '').replace(/\\/g, '\\\\').replace(/"/g, '\\"').replace(/'/g, "\\'") %>`);

                var errortype;
                var icon = "";
                if (error) {
                    if (error == "Invalid") {
                        errortype = 'warning'
                        icon = "error"
                    } else if (error == "Success") {
                        errortype = 'success'
                        icon = "success"
                    } else if (error == "Delete") {
                        errortype = 'success'
                        icon = "success"
                    }
                    Swal.fire({
                        title: error,
                        text: error1,
                        type: errortype,
                        icon: icon,
                        iconColor: '#03449e',
                        showCancelButton: false,
                        showConfirmButton: false,
                        // toast: false,
                        // modal: true,
                        //position: 'relative',
                        timer: 3000
                    }).then(function () {
                        window.location.replace(window.location.origin + '/StallUser/' + ID)
                    });
                }

                $("#tblstallUser").DataTable({
                    "lengthChange": true,
                    lengthMenu: [5, 10, 20],
                });

            </script>