<%- include('../partials/head.ejs') %>
    <style>
        .dataTables_wrapper .dataTable tfoot th,
        .dataTables_wrapper .dataTable thead th {
            font-weight: 500;
            color: #181C32;
        }

        /* .card.card-custom>.card-header {
            min-height: 38px !important;
        } */
    </style>
    <%- include('../partials/header.ejs') %>
        <!--begin::Content-->
        <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
            <!--begin::Entry-->
            <div class="d-flex flex-column-fluid">
                <div class="container-fluid">
                    <div class="row" id="div1" runat="server">
                        <div class="col-md-12">
                            <div class="card-custom example example-compact" id="divFilter"
                                style="margin-top: 0px;display: none;">
                                <div class="card-body">
                                    <div class="card card-custom gutter-b example example-compact"
                                        style="margin-bottom:0;">
                                        <div class="card-header">
                                            <div class="card-title">
                                                <h3 class="card-label h3css">Search Variance Report Details
                                            </div>
                                        </div>
                                        <div id="datatable-container" class="card-body cardbodycss"
                                            style="overflow: auto;position:relative">
                                            <form id="frmStation" class="form" action="/VarianceReport" method="post"
                                                autocomplete="off">
                                                <div class="card-body">
                                                    <div id="divFilter" class="">
                                                        <div class="row" style="margin-bottom: -22px;">
                                                            <div class="col-md-2 col-lg-2">
                                                                <div class="form-group formgroupcss">
                                                                    <label>Station: </label>
                                                                    <select id="StationID"
                                                                        class="form-control select2dropdown"
                                                                        name="StationID">
                                                                        <option Value="">--Select Station--
                                                                        </option>
                                                                        <% if(StationData && StationData.data &&
                                                                            StationData.data.length> 0) { %>
                                                                            <%for(var i=0; i < StationData.data.length;
                                                                                i++){%>
                                                                                <option
                                                                                    value="<%= StationData.data[i].id %>">
                                                                                    <%= StationData.data[i].station_name
                                                                                        %>
                                                                                </option>
                                                                                <%}%>
                                                                                    <%}%>
                                                                    </select>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-2 col-lg-2">
                                                                <div class="form-group formgroupcss">
                                                                    <label>Start Date : </label>
                                                                    <input type="text" id="startdate" name="startdate"
                                                                        class="form-control pickDate"
                                                                        data-date-format="dd-mm-yyyy"
                                                                        placeholder="Start Date" readonly>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-2 col-lg-2">
                                                                <div class="form-group formgroupcss">
                                                                    <label>End Date : </label>
                                                                    <input type="text" id="enddate"
                                                                        placeholder="End Date "
                                                                        class="form-control pickDate" name="enddate"
                                                                        data-date-format="dd-mm-yyyy" readonly>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4 col-lg-4"
                                                                style="padding-top: 12px; margin-bottom: 20px">
                                                                <div class="form-group formgroupbuttoncss">
                                                                    <button type="submit" id="btnSearchSubmit"
                                                                        class="btn btn-primary"
                                                                        style="margin-bottom: 10px;">
                                                                        <i class="fa fa-search"
                                                                            style="color: white;"></i>
                                                                        Search</button>
                                                                    <button type="reset" value="reset" id="btnCancel"
                                                                        class="btn btn-danger"
                                                                        style="margin-bottom: 10px;"
                                                                        onclick="CancelFunction()">
                                                                        <i
                                                                            class="fa-window-close fas"></i>Cancel</button>
                                                                    <button id="btnExcel" name="btnExcel" type="submit"
                                                                        class="btn btn-success"
                                                                        formaction="/VarianceReportExcel"
                                                                        formmethod="post" style="margin-bottom: 10px;">
                                                                        <i class="fa fa-file-excel"
                                                                            style="color: white;"></i>Excel</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="card-custom example example-compact" style="margin-top: 0px;">
                                <!-- <div class="separator separator-dashed mt-8 mb-5"></div> -->
                                <div class="card-body">
                                    <div class="card card-custom gutter-b example example-compact">
                                        <div class="card-header">
                                            <div class="card-title">
                                                <h3 class="card-label h3css">Variance Report List
                                            </div>
                                            <div class="card-title">
                                                <button type="button" class="btn btn-primary"
                                                    onclick="divhideShowFilterDetail(this)" style="margin: 5px;"
                                                    onclick="">&nbsp;<i class="fa fa-plus"></i>Filter &nbsp;<i
                                                        class='fa fa-filter'></i></button>
                                                <div></div>
                                            </div>
                                        </div>
                                        <div id="datatable-container" class="card-body cardbodycss"
                                            style="overflow: auto;position:relative">
                                            <!--begin: Datatable-->
                                            <table class="table table-bordered" id="tblReport">
                                                <thead>
                                                    <tr>
                                                        <th width="5%">Sr. No.</th>
                                                        <th width="5%">Station Name</th>
                                                        <th width="35%">Report</th>
                                                    </tr>
                                                </thead>
                                                <tbody id=" tblbody">
                                                    <% if(VarianceReportData && VarianceReportData.data &&
                                                        VarianceReportData.data.length> 0){ %>
                                                        <% for(var i=0; i < VarianceReportData.data.length; i++) {%>
                                                            <% let
                                                                TotalAmountData=VarianceReportData.data[i]._report_data
                                                                %>
                                                                <tr>
                                                                    <td class="tdcss">
                                                                        <span class="tdfont">
                                                                            <%= i+1 %>
                                                                        </span>
                                                                    </td>
                                                                    <td><%- VarianceReportData.data[i].station_name
                                                                            %>(<%-
                                                                                VarianceReportData.data[i].station_code
                                                                                %>)
                                                                    </td>
                                                                    <td>Target Quantity:
                                                                        <% if(VarianceReportData.data[i].target_qty){ %>
                                                                            <%- VarianceReportData.data[i].target_qty %>
                                                                                <% } else{ %>
                                                                                    0
                                                                                    <% } %>
                                                                                        <br>
                                                                                        Total Variance:
                                                                                        <% if(VarianceReportData.data[i].total_variance){
                                                                                            %>
                                                                                            <%- VarianceReportData.data[i].total_variance
                                                                                                %>
                                                                                                <% } else{ %>
                                                                                                    0
                                                                                                    <% } %>
                                                                                                        <hr>
                                                                                                        <% var
                                                                                                            Bindtarget_qty=VarianceReportData.data[i].target_qty
                                                                                                            %>
                                                                                                            <table id=""
                                                                                                                class="table table-bordered">
                                                                                                                <thead>
                                                                                                                    <tr>
                                                                                                                        <th>Date
                                                                                                                        </th>
                                                                                                                        <th>Total
                                                                                                                            Qty
                                                                                                                        </th>
                                                                                                                        <th>Variance
                                                                                                                        </th>
                                                                                                                    </tr>
                                                                                                                </thead>
                                                                                                                <%for(var
                                                                                                                    j=0;
                                                                                                                    j <
                                                                                                                    TotalAmountData.length;
                                                                                                                    j++){%>




                                                                                                                    <% var
                                                                                                                        BindQty=0
                                                                                                                        %>
                                                                                                                        <% var
                                                                                                                            QTY=0
                                                                                                                            %>
                                                                                                                            <% BindQty=parseFloat(TotalAmountData[j].total_quantity)-parseFloat(Bindtarget_qty)
                                                                                                                                %>
                                                                                                                                <tr>
                                                                                                                                    <td><%- TotalAmountData[j].created_date
                                                                                                                                            %>
                                                                                                                                    </td>
                                                                                                                                    <td><%- TotalAmountData[j].total_quantity
                                                                                                                                            %>
                                                                                                                                    </td>
                                                                                                                                    <td>
                                                                                                                                        <% if(BindQty){
                                                                                                                                            %>
                                                                                                                                            <%- BindQty
                                                                                                                                                %>
                                                                                                                                                <% } else{
                                                                                                                                                    %>
                                                                                                                                                    0
                                                                                                                                                    <% }
                                                                                                                                                        %>

                                                                                                                                    </td>
                                                                                                                                </tr>
                                                                                                                                <%}%>
                                                                                                            </table>
                                                                    </td>
                                                                </tr>
                                                                <%}%>
                                                                    <%}%>
                                                </tbody>
                                            </table>
                                            <!--end: Datatable-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Entry-->
        </div>
        <!--end::Content-->
        <%- include('../partials/footer.ejs') %>
            <script type="text/javascript">

                $(".select2dropdown").select2();

                function CancelFunction() {
                    window.location.href = "/VarianceReport";
                }

                $("#startdate").datepicker({
                    clearBtn: true,
                    todayHighlight: true,
                    endDate: new Date(),
                    orientation: "bottom"
                }).datepicker("setDate", 'now').on('changeDate', function (e) {
                    $(this).datepicker('hide');
                    var selectedDate = new Date(e.date);
                    $("#enddate").datepicker("setStartDate", selectedDate);
                    $("#enddate").datepicker("setDate", selectedDate);
                });

                $("#enddate").datepicker({
                    clearBtn: true,
                    todayHighlight: true,
                    startDate: new Date(),
                    endDate: new Date(),
                    orientation: "bottom"
                }).datepicker("setDate", 'now').on('changeDate', function (e) {
                    $(this).datepicker('hide');
                });

                $("#tblReport").DataTable({
                    "lengthChange": true,
                    lengthMenu: [10, 20, 30],
                });

                $('#btnSearchSubmit').on('click', function () {
                    var stdt = $("#startdate").val().toString().split('-');
                    var endt = $("#enddate").val().toString().split('-');
                    var startDate = new Date(stdt[2] + "-" + stdt[1] + "-" + stdt[0]);
                    var endDate = new Date(endt[2] + "-" + endt[1] + "-" + endt[0]);
                    var diff = new Date(endDate - startDate);

                    var days = diff / 1000 / 60 / 60 / 24;

                    if (days <= 31) {
                        $('#btnSearchSubmit').submit();
                    } else {
                        Swal.fire({
                            title: '',
                            text: 'Difference between dates should be less than 31',
                            type: 'error',
                            icon: 'error',
                            showCancelButton: false,
                            showConfirmButton: false,
                            iconColor: '#03449e',
                            timer: 3000
                        })
                        return false;
                    }
                });

                function divhideShowFilterDetail(data) {
                    if ($(data).find('.fa-plus').length > 0) {
                        $("#divFilter").css("display", "block");
                        $(data).find('.fa-plus').addClass('fa-minus')
                        $(data).find('.fa-plus').removeClass('fa-plus')
                    }
                    else {
                        $("#divFilter").css("display", "none");
                        $(data).find('.fa-minus').addClass('fa-plus')
                        $(data).find('.fa-minus').removeClass('fa-minus')
                    }
                    $(".select2dropdown").select2();
                }

                var SearchData = JSON.parse('<%- JSON.stringify(SearchData) %>');
                if (SearchData) {
                    $("#StationID").val(SearchData.StationID).change();
                    $("#startdate").val(SearchData.startdate).change();
                    $("#enddate").datepicker("setStartDate", SearchData.startdate);
                    $("#enddate").val(SearchData.enddate).change();
                    // $("#order_status").val(SearchData.order_status).change();
                } else {
                    $("#StationID").val();
                    $("#startdate").val();
                    $("#enddate").val();
                    // $("#order_status").val();
                }

                var FilterData = JSON.parse('<%- JSON.stringify(FilterData) %>');
                searchStatus = FilterData;
                if (searchStatus == true) {
                    $("#divFilter").css("display", "block");
                    $(".select2dropdown").select2();
                }
            </script>